<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="TBL_MISC_WARE_HOUSE_MASTER" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Basic Information</h4>
          <p class="card-title-desc">Fill all information below</p>

          <form [formGroup]="formData" (ngSubmit)="validSubmit()">
            <div class="row">
              <div class="col-sm-6">
              <div class='mb-3'>
<label for='ID'>ID</label>
<input uppercase class='form-control' placeholder='Enter ID' type='text' name='ID' autocomplete='off'  formControlName='ID' [ngClass]=
"{ 'is-invalid': submit && form.ID.errors}"/><div *ngIf='submit && form.ID.errors' class='invalid-feedback'>
 <span *ngIf='form.ID.errors.required'>ID Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='WARE_HOUSE_NAME'>WARE_HOUSE_NAME</label>
<input uppercase class='form-control' placeholder='Enter WARE_HOUSE_NAME' type='text' name='WARE_HOUSE_NAME' autocomplete='off'  formControlName='WARE_HOUSE_NAME' [ngClass]=
"{ 'is-invalid': submit && form.WARE_HOUSE_NAME.errors}"/><div *ngIf='submit && form.WARE_HOUSE_NAME.errors' class='invalid-feedback'>
 <span *ngIf='form.WARE_HOUSE_NAME.errors.required'>WARE_HOUSE_NAME Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='DISTANCE'>DISTANCE</label>
<input uppercase class='form-control' placeholder='Enter DISTANCE' type='text' name='DISTANCE' autocomplete='off'  formControlName='DISTANCE' [ngClass]=
"{ 'is-invalid': submit && form.DISTANCE.errors}"/><div *ngIf='submit && form.DISTANCE.errors' class='invalid-feedback'>
 <span *ngIf='form.DISTANCE.errors.required'>DISTANCE Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='ENTRY_AREA'>ENTRY_AREA</label>
<input uppercase class='form-control' placeholder='Enter ENTRY_AREA' type='text' name='ENTRY_AREA' autocomplete='off'  formControlName='ENTRY_AREA' [ngClass]=
"{ 'is-invalid': submit && form.ENTRY_AREA.errors}"/><div *ngIf='submit && form.ENTRY_AREA.errors' class='invalid-feedback'>
 <span *ngIf='form.ENTRY_AREA.errors.required'>ENTRY_AREA Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='ENTRY_BY'>ENTRY_BY</label>
<input uppercase class='form-control' placeholder='Enter ENTRY_BY' type='text' name='ENTRY_BY' autocomplete='off'  formControlName='ENTRY_BY' [ngClass]=
"{ 'is-invalid': submit && form.ENTRY_BY.errors}"/><div *ngIf='submit && form.ENTRY_BY.errors' class='invalid-feedback'>
 <span *ngIf='form.ENTRY_BY.errors.required'>ENTRY_BY Name is required.</span>
 </div>
 </div>

              </div>

              <div class="col-sm-6">
                 <div class='mb-3'>
<label for='WARE_HOUSE_CODE'>WARE_HOUSE_CODE</label>
<input uppercase class='form-control' placeholder='Enter WARE_HOUSE_CODE' type='text' name='WARE_HOUSE_CODE' autocomplete='off'  formControlName='WARE_HOUSE_CODE' [ngClass]=
"{ 'is-invalid': submit && form.WARE_HOUSE_CODE.errors}"/><div *ngIf='submit && form.WARE_HOUSE_CODE.errors' class='invalid-feedback'>
 <span *ngIf='form.WARE_HOUSE_CODE.errors.required'>WARE_HOUSE_CODE Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='LOCATION_ADDRESS'>LOCATION_ADDRESS</label>
<input uppercase class='form-control' placeholder='Enter LOCATION_ADDRESS' type='text' name='LOCATION_ADDRESS' autocomplete='off'  formControlName='LOCATION_ADDRESS' [ngClass]=
"{ 'is-invalid': submit && form.LOCATION_ADDRESS.errors}"/><div *ngIf='submit && form.LOCATION_ADDRESS.errors' class='invalid-feedback'>
 <span *ngIf='form.LOCATION_ADDRESS.errors.required'>LOCATION_ADDRESS Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='AGENT_BRANCH'>AGENT_BRANCH</label>
<input uppercase class='form-control' placeholder='Enter AGENT_BRANCH' type='text' name='AGENT_BRANCH' autocomplete='off'  formControlName='AGENT_BRANCH' [ngClass]=
"{ 'is-invalid': submit && form.AGENT_BRANCH.errors}"/><div *ngIf='submit && form.AGENT_BRANCH.errors' class='invalid-feedback'>
 <span *ngIf='form.AGENT_BRANCH.errors.required'>AGENT_BRANCH Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='ENTRY_DATE'>ENTRY_DATE</label>
<input uppercase class='form-control' placeholder='Enter ENTRY_DATE' type='text' name='ENTRY_DATE' autocomplete='off'  formControlName='ENTRY_DATE' [ngClass]=
"{ 'is-invalid': submit && form.ENTRY_DATE.errors}"/><div *ngIf='submit && form.ENTRY_DATE.errors' class='invalid-feedback'>
 <span *ngIf='form.ENTRY_DATE.errors.required'>ENTRY_DATE Name is required.</span>
 </div>
 </div>

              </div>
            </div>
           
            <div class="d-flex flex-wrap gap-2 mt-2">
              <button type="submit" class="btn btn-primary"   >Save Changes</button>
              <button type="submit" class="btn btn-secondary">Cancel</button>
            </div>
          </form>
        </div>
      </div>

      
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->