<p-toast></p-toast>


<div class="container-fluid">
    <app-page-title title="FINISHED GOODS" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-sm-3">
                    <div class="search-box me-2 mb-2 d-inline-block">
                      <div class="position-relative">
                        <span [style]="{'display': 'inline-flex', 'height':'35px'}"class="p-input-icon-left">
                            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedProducts()" [disabled]="!selectedItems || !selectedItems.length"></button>&nbsp;
                            <input class="form-control" pInputText type="text" [(ngModel)]="term"
                            (ngModelChange)='searchChanged.next($event)'
                                placeholder="Search..." />
                        </span>
                    </div>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="d-flex justify-content-between bd-highlight">
                    <div class="p-2 bd-highlight"> 
                      
                    </div>
                    
                    <div class="p-2 bd-highlight"[style]="{'display': 'inline-flex', 'height':'50px'}">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                  </div>
               
              </div>
              <!-- end col-->
            </div>
            <div class="table-responsive">
                <p-table id="myTable" [scrollable]="true" scrollHeight="400px" scrollDirection="both"
                styleClass="table-panel" #dt [value]="items" [rows]="10" [paginator]="false"
                [globalFilterFields]="['name','country.name','representative.name','status']"
                responsiveLayout="scroll" [(selection)]="selectedItems" [rowHover]="true" dataKey="SlNo"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width:140px"  pSortableColumn="SlNo">Sl No.<p-sortIcon field="SlNo"></p-sortIcon>
                    </th>

                    <th style="width:140px"  pSortableColumn="Product">Product<p-sortIcon field="Product"></p-sortIcon>
                    </th>
                    <th style="width:140px"  pSortableColumn="ProdNo">Prod.No.<p-sortIcon field="ProdNo"></p-sortIcon>
                    </th>
                    <th style="width:140px"  pSortableColumn="GrossWt">Gross Wt.<p-sortIcon field="GrossWt"></p-sortIcon>
                    </th>
                    <th style="width:140px"  pSortableColumn="DmdWt">Dmd.Wt.<p-sortIcon field="DmdWt"></p-sortIcon>
                    </th>
                    <th style="width:140px"  pSortableColumn="SntWt">Snt.Wt.<p-sortIcon field="SntWt"></p-sortIcon>
                    </th>
    
                    <th style="width:140px"  pSortableColumn="NettWt">Nett.Wt.<p-sortIcon field="NettWt"></p-sortIcon>
                    </th>
                    <th style="width:140px"  pSortableColumn="HallMarked">Hall Marked<p-sortIcon field="HallMarked"></p-sortIcon>
                    </th>
                    <th style="width:140px"  pSortableColumn="Certified">Certified<p-sortIcon field="Certified"></p-sortIcon>
                    </th>
                    <th style="width:140px"  pSortableColumn="Size">Size<p-sortIcon field="Size"></p-sortIcon>
                    </th>
                    
                    <th  style="width:140px" pSortableColumn="Pcs">Pcs<p-sortIcon field="Pcs"></p-sortIcon>
                    </th>

                    <th style="width:140px"  pSortableColumn="Making">Making<p-sortIcon field="Making"></p-sortIcon>
                    </th>

                    <th  style="width:140px" pSortableColumn="KundanMaking">Kundan Making<p-sortIcon field="KundanMaking"></p-sortIcon>
                    </th>

                    <th  style="width:140px" pSortableColumn="JooberName">Jobber Name<p-sortIcon field="JooberName"></p-sortIcon>
                    </th>

                    <th style="width:140px"  pSortableColumn="JobNo">Job No.<p-sortIcon field="JobNo"></p-sortIcon>
                    </th>

                    <th style="width:140px"  pSortableColumn="JooberCharge">Joober Charge<p-sortIcon field="JooberCharge"></p-sortIcon>
                    </th> 

                    <th style="width:200px"  pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
                    </th> 
                    
                    <th styles="width:200px" alignFrozen="right" pFrozenColumn >Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td  style="width: 3rem">
                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td style="width:140px" >{{product.SlNo}}</td>
                    <td style="width:140px" >{{product.Product}}</td>
                    <td style="width:140px" >{{product.ProdNo}}</td>
                    <td style="width:140px" >{{product.GrossWt}}</td>
                    <td style="width:140px" >{{product.DmdWt}}</td>
                    <td style="width:140px" >{{product.SntWt}}</td>
                    <td style="width:140px" >{{product.NettWt}}</td>
                    <td style="width:140px" >{{product.HallMarked}}</td>
                    <td style="width:140px" >{{product.Certified}}</td>
                    <td style="width:140px" >{{product.Size}}</td>
                    <td style="width:140px" >{{product.Pcs}}</td>
                    <td style="width:140px" >{{product.Making}}</td>
                    <td style="width:140px" >{{product.KundanMaking}}</td>
                    <td style="width:140px" >{{product.JooberName}}</td>
                    <td style="width:140px" >{{product.JobNo}}</td>
                    <td style="width:140px" >{{product.JooberCharge}}</td>
                   
                    
                    <td style="width:200px" ><span [class]="'product-badge status-instock'">Active</span></td>
                     <td styles="width:200px" alignFrozen="right" pFrozenColumn [style]="{'display': 'inline-flex'}">
                                                    <button pButton pRipple icon="pi pi-pencil"
                                                        class="p-button-rounded p-button-success mr-2"
                                                        (click)="editProduct(product)"></button>&nbsp;
                                                    <button pButton pRipple icon="pi pi-trash"
                                                        class="p-button-rounded p-button-danger"
                                                        (click)="deleteProduct(product)"></button>
                                                </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="d-flex justify-content-between align-items-center  custom-footer">
                    <div class="bd-highlight" >
                        Showinng {{pageSize*(page-1)}} to {{(pageSize*page)>totalRecords?totalRecords:pageSize*page}} of {{totalRecords}} entries
                    </div>
                   
                    <div class="bd-highlight" alignFrozen="right" pFrozenColumn>
                        <p-paginator styleClass="custom-paginator" [rows]="pageSize" [totalRecords]="totalRecords"
                        (onPageChange)="handlePagination($event)"></p-paginator>
                    </div>
                  </div>
            </ng-template>
        </p-table>
    </div>


    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>
