<p-toast></p-toast>


<div class="container-fluid">
    <app-page-title title="LOCATION MASTER" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-sm-3">
                    <div class="search-box me-2 mb-2 d-inline-block">
                      <div class="position-relative">
                        <span [style]="{'display': 'inline-flex'}" class="p-input-icon-left">
                            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedProducts()" [disabled]="!selectedItems || !selectedItems.length"></button>&nbsp;
                            <input  class="form-control" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="d-flex justify-content-between bd-highlight">
                        <div class="p-2 bd-highlight"> 
                          
                        </div>
                        
                        <div class="p-2 bd-highlight">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        </div>
                      </div>
                   
                  </div>
                  <!-- end col-->
                </div>
                <div class="table-responsive">
                    <p-table styleClass="table-panel" #dt [value]="items" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
                    [(selection)]="selectedItems" [rowHover]="true" dataKey="SlNo"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="Location">Location Code<p-sortIcon field="Location"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Description">Description<p-sortIcon field="Description"></p-sortIcon>
                    </th>
                    <th pSortableColumn="LocationType">Location Type<p-sortIcon field="LocationType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Address">Address <p-sortIcon field="Address"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Zip">Zip Code<p-sortIcon field="Zip"></p-sortIcon>
                    </th>
                    <th pSortableColumn="City">City<p-sortIcon field="City"></p-sortIcon>
                    </th>
                     <th pSortableColumn="State">State<p-sortIcon field="State"></p-sortIcon>
                    </th> 
                    <th pSortableColumn="Country">Country<p-sortIcon field="Country"></p-sortIcon>
                    </th> 
                    <th pSortableColumn="Telephone">Telephone<p-sortIcon field="Telephone"></p-sortIcon>
                    </th> 
                    <th pSortableColumn="Email">Email<p-sortIcon field="Email"></p-sortIcon>
                    </th> 
                    <th pSortableColumn="Contact">Contact Person<p-sortIcon field="Contact"></p-sortIcon>
                    </th> 
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td>{{product.Location}}</td>
                    <td>{{product.Description}}</td>
                    <td>{{product.LocationType}}</td>
                    <td>{{product.Address}}</td>
                    <td>{{product.Zip}}</td>
                    <td>{{product.State}}</td>
                    <td>{{product.Country}}</td>
                    <td>{{product.Telephone}}</td>
                    <td>{{product.Email}}</td>
                    <td>{{product.Contact}}</td>
                   
                   
                    <td><span [class]="'product-badge status-instock'">Active</span></td>
                    <td [style]="{'display': 'inline-flex'}">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editProduct(product)"></button>&nbsp;
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{items ? items.length : 0 }} products.
                </div>
            </ng-template>
        </p-table>
    </div>


    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>