<div class="container-fluid">

  <app-page-title title="Customers" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input uppercase type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end button-items">
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">
                  <i class="mdi mdi-plus me-1"></i> New TBL_STATIONARY_ISSUE_MASTER
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <thead class="table-light">
                <tr>
                  <th> ID</th>
<th> SLNO</th>
<th> STATIONARY_ID</th>
<th> TYPE</th>
<th> ISSUE_BRANCH_NAME</th>
<th> ISSUE_BRANCH_CODE</th>
<th> ISSUE_DATE</th>
<th> AUTO_MANUAL</th>
<th> FROM_RANGE</th>
<th> TO_RANGE</th>

                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tableData  | filter:term ;let i = index;">

                  <td>{{item.id}}</td>
<td>{{item.slnO}}</td>
<td>{{item.stationarY_ID}}</td>
<td>{{item.type}}</td>
<td>{{item.issuE_BRANCH_NAME}}</td>
<td>{{item.issuE_BRANCH_CODE}}</td>
<td>{{item.issuE_DATE}}</td>
<td>{{item.autO_MANUAL}}</td>
<td>{{item.froM_RANGE}}</td>
<td>{{item.tO_RANGE}}</td>


                  <td>
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                        ngbDropdownToggle aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <li><a href="javascript: void(0);" class="dropdown-item" (click)="edit(item,content)"><i
                              class="fas fa-pencil-alt text-success me-1"></i>
                            Edit</a></li>
                        <li><a href="javascript: void(0);" (click)="confirm(item.id)" class="dropdown-item"><i
                              class="fas fa-trash-alt text-danger me-1"></i>
                            Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{startIndex}} to
                {{endIndex}} of {{totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async"  [maxSize]="7"[(page)]="page" [pageSize]="pageSize"
                  (pageChange)="loadPage($event)">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add TBL_STATIONARY_ISSUE_MASTER</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveData()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class='mb-3'>
<label class='control-label'>ID</label>
<input uppercase class='form-control' placeholder='Enter ID' type='text' name='ID' autocomplete='off'  formControlName='ID' [ngClass]=
"{ 'is-invalid': submitted && form.ID.errors}"/><div *ngIf='submitted && form.ID.errors' class='invalid-feedback'> <span *ngIf='form.ID.errors.required'>ID is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>SLNO</label>
<input uppercase class='form-control' placeholder='Enter SLNO' type='text' name='SLNO' autocomplete='off'  formControlName='SLNO' [ngClass]=
"{ 'is-invalid': submitted && form.SLNO.errors}"/><div *ngIf='submitted && form.SLNO.errors' class='invalid-feedback'> <span *ngIf='form.SLNO.errors.required'>SLNO is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>STATIONARY_ID</label>
<input uppercase class='form-control' placeholder='Enter STATIONARY_ID' type='text' name='STATIONARY_ID' autocomplete='off'  formControlName='STATIONARY_ID' [ngClass]=
"{ 'is-invalid': submitted && form.STATIONARY_ID.errors}"/><div *ngIf='submitted && form.STATIONARY_ID.errors' class='invalid-feedback'> <span *ngIf='form.STATIONARY_ID.errors.required'>STATIONARY_ID is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>TYPE</label>
<input uppercase class='form-control' placeholder='Enter TYPE' type='text' name='TYPE' autocomplete='off'  formControlName='TYPE' [ngClass]=
"{ 'is-invalid': submitted && form.TYPE.errors}"/><div *ngIf='submitted && form.TYPE.errors' class='invalid-feedback'> <span *ngIf='form.TYPE.errors.required'>TYPE is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>ISSUE_BRANCH_NAME</label>
<input uppercase class='form-control' placeholder='Enter ISSUE_BRANCH_NAME' type='text' name='ISSUE_BRANCH_NAME' autocomplete='off'  formControlName='ISSUE_BRANCH_NAME' [ngClass]=
"{ 'is-invalid': submitted && form.ISSUE_BRANCH_NAME.errors}"/><div *ngIf='submitted && form.ISSUE_BRANCH_NAME.errors' class='invalid-feedback'> <span *ngIf='form.ISSUE_BRANCH_NAME.errors.required'>ISSUE_BRANCH_NAME is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>ISSUE_BRANCH_CODE</label>
<input uppercase class='form-control' placeholder='Enter ISSUE_BRANCH_CODE' type='text' name='ISSUE_BRANCH_CODE' autocomplete='off'  formControlName='ISSUE_BRANCH_CODE' [ngClass]=
"{ 'is-invalid': submitted && form.ISSUE_BRANCH_CODE.errors}"/><div *ngIf='submitted && form.ISSUE_BRANCH_CODE.errors' class='invalid-feedback'> <span *ngIf='form.ISSUE_BRANCH_CODE.errors.required'>ISSUE_BRANCH_CODE is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>ISSUE_DATE</label>
<input uppercase class='form-control' placeholder='Enter ISSUE_DATE' type='text' name='ISSUE_DATE' autocomplete='off'  formControlName='ISSUE_DATE' [ngClass]=
"{ 'is-invalid': submitted && form.ISSUE_DATE.errors}"/><div *ngIf='submitted && form.ISSUE_DATE.errors' class='invalid-feedback'> <span *ngIf='form.ISSUE_DATE.errors.required'>ISSUE_DATE is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>AUTO_MANUAL</label>
<input uppercase class='form-control' placeholder='Enter AUTO_MANUAL' type='text' name='AUTO_MANUAL' autocomplete='off'  formControlName='AUTO_MANUAL' [ngClass]=
"{ 'is-invalid': submitted && form.AUTO_MANUAL.errors}"/><div *ngIf='submitted && form.AUTO_MANUAL.errors' class='invalid-feedback'> <span *ngIf='form.AUTO_MANUAL.errors.required'>AUTO_MANUAL is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>FROM_RANGE</label>
<input uppercase class='form-control' placeholder='Enter FROM_RANGE' type='text' name='FROM_RANGE' autocomplete='off'  formControlName='FROM_RANGE' [ngClass]=
"{ 'is-invalid': submitted && form.FROM_RANGE.errors}"/><div *ngIf='submitted && form.FROM_RANGE.errors' class='invalid-feedback'> <span *ngIf='form.FROM_RANGE.errors.required'>FROM_RANGE is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>TO_RANGE</label>
<input uppercase class='form-control' placeholder='Enter TO_RANGE' type='text' name='TO_RANGE' autocomplete='off'  formControlName='TO_RANGE' [ngClass]=
"{ 'is-invalid': submitted && form.TO_RANGE.errors}"/><div *ngIf='submitted && form.TO_RANGE.errors' class='invalid-feedback'> <span *ngIf='form.TO_RANGE.errors.required'>TO_RANGE is required.</span> </div>
</div>

        </div>
      </div>
      <button type="submit" class="btn btn-success" id="btn-save-event">
        Save
      </button>
    </form>
  </div>
</ng-template>