<p-toast></p-toast>
<app-loader></app-loader>


<div class="container-fluid">
    <app-page-title title="LEDGER MASTER" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-sm-3">
                    <div class="search-box me-2 mb-2 d-inline-block">
                      <div class="position-relative">
                        <span [style]="{'display': 'inline-flex', 'height':'35px'}"class="p-input-icon-left">
                            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedProducts()" [disabled]="!selectedItems || !selectedItems.length"></button>&nbsp;
                            <input class="form-control" pInputText type="text" [(ngModel)]="term"
                            (ngModelChange)='searchChanged.next($event)'
                                placeholder="Search..." />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="d-flex justify-content-between bd-highlight">
                        <div class="p-2 bd-highlight"> 
                          
                        </div>
                        
                        <div class="p-2 bd-highlight"[style]="{'display': 'inline-flex', 'height':'50px'}">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        </div>
                      </div>
                   
                  </div>
                  <!-- end col-->
                </div>
                <div class="table-responsive">
                    <p-table id="myTable" [scrollable]="true" scrollHeight="400px" scrollDirection="both"
                    styleClass="table-panel" #dt [value]="items" [rows]="10" [paginator]="false"
                    [globalFilterFields]="['name','country.name','representative.name','status']"
                    responsiveLayout="scroll" [(selection)]="selectedItems" [rowHover]="true" dataKey="GLCode"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th  style="width:200px"pSortableColumn="GLCode">Sr No.<p-sortIcon field="GLCode"></p-sortIcon>
                    </th>
                    <th  style="width:200px"pSortableColumn="LedgerDesc">Ledger Desc<p-sortIcon field="LedgerDesc"></p-sortIcon>
                    </th>
                   
                    <th  style="width:200px"pSortableColumn="Alias">Alias <p-sortIcon field="Alias"></p-sortIcon>
                    </th>
                    <th  style="width:200px"pSortableColumn="City">City<p-sortIcon field="City"></p-sortIcon>
                    </th>
                    <th  style="width:200px"pSortableColumn="GroupDesc">GroupDesc<p-sortIcon field="GroupDesc"></p-sortIcon>
                    </th>
                     <th style="width:200px" pSortableColumn="Address">Address<p-sortIcon field="Address"></p-sortIcon>
                    </th> 
                    <th  style="width:200px"pSortableColumn="ZipCode">ZipCode<p-sortIcon field="ZipCode"></p-sortIcon>
                    </th> 
                    <th  style="width:200px"pSortableColumn="LedgerType">LedgerType<p-sortIcon field="LedgerType"></p-sortIcon>
                    </th> 
                    <th  style="width:200px"pSortableColumn="AcHolder">AcHolder<p-sortIcon field="AcHolder"></p-sortIcon>
                    </th> 
                    <th style="width:200px" pSortableColumn="AcType">AcType<p-sortIcon field="AcType"></p-sortIcon>
                    </th> 
                    <th  style="width:200px"pSortableColumn="AcNO">AcNO<p-sortIcon field="AcNO"></p-sortIcon>
                    </th> 
                    <th  style="width:200px"pSortableColumn="IfscCode">IfscCode<p-sortIcon field="IfscCode"></p-sortIcon>
                    </th> 
                    <th style="width:200px" pSortableColumn="Country">Country<p-sortIcon field="Country"></p-sortIcon>
                    </th> 
                    <th  style="width:200px"pSortableColumn="Telephone">Telephone<p-sortIcon field="Telephone"></p-sortIcon>
                    </th> 
                    <th  style="width:200px"pSortableColumn="Email">Email<p-sortIcon field="Email"></p-sortIcon>
                    </th> 
                    <th style="width:200px" pSortableColumn="ContactPerson">ContactPerson<p-sortIcon field="ContactPerson"></p-sortIcon>
                    </th> 
                    <th style="width:200px"pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
                    </th>
                    <th style="width:200px" alignFrozen="right" pFrozenColumn>Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td style="width: 5rem">
                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>
                    <td style="width:200px">{{product.GLCode}}</td>
                    <td style="width:200px">{{product.GLName}}</td>
                 
                    <td style="width:200px">{{product.Alias}}</td>
                    <td style="width:200px">{{product.City}}</td>
                    <td style="width:200px">{{product.GroupDesc}}</td>
                    <td style="width:200px">{{product.Address}}</td>
                    <td style="width:200px">{{product.ZipCode}}</td>
                    <td style="width:200px">{{product.LedgerType}}</td>
                    <td style="width:200px">{{product.AcHolder}}</td>
                    <td style="width:200px">{{product.AcType}}</td>
                    <td style="width:200px">{{product.AcNO}}</td>
                    <td style="width:200px">{{product.IfscCode}}</td>
                    <td style="width:200px">{{product.Country}}</td>
                    <td style="width:200px">{{product.Telephone}}</td>
                    <td style="width:200px">{{product.Email}}</td>
                    <td style="width:200px">{{product.ContactPerson}}</td>
                
                   
                    <td style="width:200px"><span [class]="'product-badge status-instock'">Active</span></td>
                    <td [style]="{'display': 'inline-flex'}"  alignFrozen="right" pFrozenColumn>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editProduct(product)"></button>
                            &nbsp;
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="d-flex justify-content-between align-items-center  custom-footer">
                    <div class="bd-highlight" >
                        Showinng {{pageSize*(page-1)}} to {{(pageSize*page)>totalRecords?totalRecords:pageSize*page}} of {{totalRecords}} entries
                    </div>
                   
                    <div class="bd-highlight" alignFrozen="right" pFrozenColumn>
                        <p-paginator styleClass="custom-paginator" [rows]="pageSize" [totalRecords]="totalRecords"
                        (onPageChange)="handlePagination($event)"></p-paginator>
                    </div>
                  </div>
            </ng-template>
        </p-table>
    </div>


    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>