<div class="container-fluid">

  <app-page-title title="Customers" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input uppercase type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end button-items">
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">
                  <i class="mdi mdi-plus me-1"></i> New TBL_HR_EMPLOYEE_MASTER
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <thead class="table-light">
                <tr>
                  <th> ID</th>
<th> EmpCode</th>
<th> EmpName</th>
<th> Sex</th>
<th> Designation</th>
<th> PostedAtCode</th>
<th> PostedAtName</th>
<th> FatherName</th>
<th> Address1</th>
<th> Address2</th>
<th> City</th>
<th> Pin</th>
<th> State</th>
<th> Casual</th>
<th> Login</th>
<th> BankAcNo</th>
<th> BasicCurrent</th>
<th> HouseRentCurrent</th>
<th> ConveyenceCurrent</th>
<th> OtherCurrent</th>
<th> GrossCurrent</th>
<th> BasicPrevious</th>
<th> HouseRentPrevious</th>
<th> ConveyencePrevious</th>
<th> OtherPrevious</th>
<th> GrossPrevious</th>
<th> PayQuit</th>
<th> PFDeduct</th>
<th> VoluntaryPF</th>
<th> DateOfBirth</th>
<th> DateOfJoining</th>
<th> DateOfLeaving</th>
<th> GauranterName</th>
<th> GauranterAdd1</th>
<th> GauranterAdd2</th>
<th> GauranterCity</th>
<th> GauranterPin</th>
<th> GauranterState</th>
<th> UANNo</th>
<th> PFNo</th>
<th> ESINo</th>
<th> DutyTime</th>
<th> PANNo</th>
<th> ADHAARNo</th>
<th> OtherDetails</th>
<th> ImagePath</th>
<th> Imagename</th>
<th> LoginID</th>
<th> LPassword</th>
<th> InTime</th>
<th> OutTime</th>
<th> Etype</th>
<th> BAllocation</th>

                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tableData  | filter:term ;let i = index;">

                  <td>{{item.id}}</td>
<td>{{item.empCode}}</td>
<td>{{item.empName}}</td>
<td>{{item.sex}}</td>
<td>{{item.designation}}</td>
<td>{{item.postedAtCode}}</td>
<td>{{item.postedAtName}}</td>
<td>{{item.fatherName}}</td>
<td>{{item.address1}}</td>
<td>{{item.address2}}</td>
<td>{{item.city}}</td>
<td>{{item.pin}}</td>
<td>{{item.state}}</td>
<td>{{item.casual}}</td>
<td>{{item.login}}</td>
<td>{{item.aacNo}}</td>
<td>{{item.basicCurrent}}</td>
<td>{{item.houseRentCurrent}}</td>
<td>{{item.ConveyenceCurrent}}</td>
<td>{{item.otherCurrent}}</td>
<td>{{item.grossCurrent}}</td>
<td>{{item.basicPrevious}}</td>
<td>{{item.houseRentPrevious}}</td>
<td>{{item.conveyencePrevious}}</td>
<td>{{item.otherPrevious}}</td>
<td>{{item.grossPrevious}}</td>
<td>{{item.payQuit}}</td>
<td>{{item.pfDeduct}}</td>
<td>{{item.voluntaryPF}}</td>
<td>{{item.dateOfBirth}}</td>
<td>{{item.dateOfJoining}}</td>
<td>{{item.dateOfLeaving}}</td>
<td>{{item.gauranterName}}</td>
<td>{{item.gauranterAdd1}}</td>
<td>{{item.gauranterAdd2}}</td>
<td>{{item.gauranterCity}}</td>
<td>{{item.gauranterPin}}</td>
<td>{{item.gauranterState}}</td>
<td>{{item.uanNo}}</td>
<td>{{item.pfNo}}</td>
<td>{{item.esiNo}}</td>
<td>{{item.dutytime}}</td>
<td>{{item.panNo}}</td>
<td>{{item.adhaarNo}}</td>
<td>{{item.otherDetails}}</td>
<td>{{item.ImagePath}}</td>
<td>{{item.Imagename}}</td>
<td>{{item.loginID}}</td>
<td>{{item.LPassword}}</td>
<td>{{item.inTime}}</td>
<td>{{item.outtime}}</td>
<td>{{item.etype}}</td>
<td>{{item.ballocation}}</td>


                  <td>
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                        ngbDropdownToggle aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <li><a href="javascript: void(0);" class="dropdown-item" (click)="edit(item,content)"><i
                              class="fas fa-pencil-alt text-success me-1"></i>
                            Edit</a></li>
                        <li><a href="javascript: void(0);" (click)="confirm(item.id)" class="dropdown-item"><i
                              class="fas fa-trash-alt text-danger me-1"></i>
                            Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{startIndex}} to
                {{endIndex}} of {{totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async"  [maxSize]="7"[(page)]="page" [pageSize]="pageSize"
                  (pageChange)="loadPage($event)">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add TBL_HR_EMPLOYEE_MASTER</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveData()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class='mb-3'>
<label class='control-label'>ID</label>
<input uppercase class='form-control' placeholder='Enter ID' type='text' name='ID' autocomplete='off'  formControlName='ID' [ngClass]=
"{ 'is-invalid': submitted && form.ID.errors}"/><div *ngIf='submitted && form.ID.errors' class='invalid-feedback'> <span *ngIf='form.ID.errors.required'>ID is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>EmpCode</label>
<input uppercase class='form-control' placeholder='Enter EmpCode' type='text' name='EmpCode' autocomplete='off'  formControlName='EmpCode' [ngClass]=
"{ 'is-invalid': submitted && form.EmpCode.errors}"/><div *ngIf='submitted && form.EmpCode.errors' class='invalid-feedback'> <span *ngIf='form.EmpCode.errors.required'>EmpCode is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>EmpName</label>
<input uppercase class='form-control' placeholder='Enter EmpName' type='text' name='EmpName' autocomplete='off'  formControlName='EmpName' [ngClass]=
"{ 'is-invalid': submitted && form.EmpName.errors}"/><div *ngIf='submitted && form.EmpName.errors' class='invalid-feedback'> <span *ngIf='form.EmpName.errors.required'>EmpName is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>Sex</label>
<input uppercase class='form-control' placeholder='Enter Sex' type='text' name='Sex' autocomplete='off'  formControlName='Sex' [ngClass]=
"{ 'is-invalid': submitted && form.Sex.errors}"/><div *ngIf='submitted && form.Sex.errors' class='invalid-feedback'> <span *ngIf='form.Sex.errors.required'>Sex is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>Designation</label>
<input uppercase class='form-control' placeholder='Enter Designation' type='text' name='Designation' autocomplete='off'  formControlName='Designation' [ngClass]=
"{ 'is-invalid': submitted && form.Designation.errors}"/><div *ngIf='submitted && form.Designation.errors' class='invalid-feedback'> <span *ngIf='form.Designation.errors.required'>Designation is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>PostedAtCode</label>
<input uppercase class='form-control' placeholder='Enter PostedAtCode' type='text' name='PostedAtCode' autocomplete='off'  formControlName='PostedAtCode' [ngClass]=
"{ 'is-invalid': submitted && form.PostedAtCode.errors}"/><div *ngIf='submitted && form.PostedAtCode.errors' class='invalid-feedback'> <span *ngIf='form.PostedAtCode.errors.required'>PostedAtCode is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>PostedAtName</label>
<input uppercase class='form-control' placeholder='Enter PostedAtName' type='text' name='PostedAtName' autocomplete='off'  formControlName='PostedAtName' [ngClass]=
"{ 'is-invalid': submitted && form.PostedAtName.errors}"/><div *ngIf='submitted && form.PostedAtName.errors' class='invalid-feedback'> <span *ngIf='form.PostedAtName.errors.required'>PostedAtName is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>FatherName</label>
<input uppercase class='form-control' placeholder='Enter FatherName' type='text' name='FatherName' autocomplete='off'  formControlName='FatherName' [ngClass]=
"{ 'is-invalid': submitted && form.FatherName.errors}"/><div *ngIf='submitted && form.FatherName.errors' class='invalid-feedback'> <span *ngIf='form.FatherName.errors.required'>FatherName is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>Address1</label>
<input uppercase class='form-control' placeholder='Enter Address1' type='text' name='Address1' autocomplete='off'  formControlName='Address1' [ngClass]=
"{ 'is-invalid': submitted && form.Address1.errors}"/><div *ngIf='submitted && form.Address1.errors' class='invalid-feedback'> <span *ngIf='form.Address1.errors.required'>Address1 is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>Address2</label>
<input uppercase class='form-control' placeholder='Enter Address2' type='text' name='Address2' autocomplete='off'  formControlName='Address2' [ngClass]=
"{ 'is-invalid': submitted && form.Address2.errors}"/><div *ngIf='submitted && form.Address2.errors' class='invalid-feedback'> <span *ngIf='form.Address2.errors.required'>Address2 is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>City</label>
<input uppercase class='form-control' placeholder='Enter City' type='text' name='City' autocomplete='off'  formControlName='City' [ngClass]=
"{ 'is-invalid': submitted && form.City.errors}"/><div *ngIf='submitted && form.City.errors' class='invalid-feedback'> <span *ngIf='form.City.errors.required'>City is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>Pin</label>
<input uppercase class='form-control' placeholder='Enter Pin' type='text' name='Pin' autocomplete='off'  formControlName='Pin' [ngClass]=
"{ 'is-invalid': submitted && form.Pin.errors}"/><div *ngIf='submitted && form.Pin.errors' class='invalid-feedback'> <span *ngIf='form.Pin.errors.required'>Pin is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>State</label>
<input uppercase class='form-control' placeholder='Enter State' type='text' name='State' autocomplete='off'  formControlName='State' [ngClass]=
"{ 'is-invalid': submitted && form.State.errors}"/><div *ngIf='submitted && form.State.errors' class='invalid-feedback'> <span *ngIf='form.State.errors.required'>State is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>Casual</label>
<input uppercase class='form-control' placeholder='Enter Casual' type='text' name='casual' autocomplete='off'  formControlName='casual' [ngClass]=
"{ 'is-invalid': submitted && form.casual.errors}"/><div *ngIf='submitted && form.casual.errors' class='invalid-feedback'> <span *ngIf='form.casual.errors.required'>Casual is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>Login</label>
<input uppercase class='form-control' placeholder='Enter Login' type='text' name='login' autocomplete='off'  formControlName='login' [ngClass]=
"{ 'is-invalid': submitted && form.login.errors}"/><div *ngIf='submitted && form.login.errors' class='invalid-feedback'> <span *ngIf='form.login.errors.required'>Login is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>BankAcNo</label>
<input uppercase class='form-control' placeholder='Enter BankAcNo' type='text' name='BankAcNo' autocomplete='off'  formControlName='BankAcNo' [ngClass]=
"{ 'is-invalid': submitted && form.BankAcNo.errors}"/><div *ngIf='submitted && form.BankAcNo.errors' class='invalid-feedback'> <span *ngIf='form.BankAcNo.errors.required'>BankAcNo is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>BasicCurrent</label>
<input uppercase class='form-control' placeholder='Enter BasicCurrent' type='text' name='BasicCurrent' autocomplete='off'  formControlName='BasicCurrent' [ngClass]=
"{ 'is-invalid': submitted && form.BasicCurrent.errors}"/><div *ngIf='submitted && form.BasicCurrent.errors' class='invalid-feedback'> <span *ngIf='form.BasicCurrent.errors.required'>BasicCurrent is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>HouseRentCurrent</label>
<input uppercase class='form-control' placeholder='Enter HouseRentCurrent' type='text' name='HouseRentCurrent' autocomplete='off'  formControlName='HouseRentCurrent' [ngClass]=
"{ 'is-invalid': submitted && form.HouseRentCurrent.errors}"/><div *ngIf='submitted && form.HouseRentCurrent.errors' class='invalid-feedback'> <span *ngIf='form.HouseRentCurrent.errors.required'>HouseRentCurrent is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>ConveyenceCurrent</label>
<input uppercase class='form-control' placeholder='Enter ConveyenceCurrent' type='text' name='ConveyenceCurrent' autocomplete='off'  formControlName='ConveyenceCurrent' [ngClass]=
"{ 'is-invalid': submitted && form.ConveyenceCurrent.errors}"/><div *ngIf='submitted && form.ConveyenceCurrent.errors' class='invalid-feedback'> <span *ngIf='form.ConveyenceCurrent.errors.required'>ConveyenceCurrent is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>OtherCurrent</label>
<input uppercase class='form-control' placeholder='Enter OtherCurrent' type='text' name='OtherCurrent' autocomplete='off'  formControlName='OtherCurrent' [ngClass]=
"{ 'is-invalid': submitted && form.OtherCurrent.errors}"/><div *ngIf='submitted && form.OtherCurrent.errors' class='invalid-feedback'> <span *ngIf='form.OtherCurrent.errors.required'>OtherCurrent is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>GrossCurrent</label>
<input uppercase class='form-control' placeholder='Enter GrossCurrent' type='text' name='GrossCurrent' autocomplete='off'  formControlName='GrossCurrent' [ngClass]=
"{ 'is-invalid': submitted && form.GrossCurrent.errors}"/><div *ngIf='submitted && form.GrossCurrent.errors' class='invalid-feedback'> <span *ngIf='form.GrossCurrent.errors.required'>GrossCurrent is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>BasicPrevious</label>
<input uppercase class='form-control' placeholder='Enter BasicPrevious' type='text' name='BasicPrevious' autocomplete='off'  formControlName='BasicPrevious' [ngClass]=
"{ 'is-invalid': submitted && form.BasicPrevious.errors}"/><div *ngIf='submitted && form.BasicPrevious.errors' class='invalid-feedback'> <span *ngIf='form.BasicPrevious.errors.required'>BasicPrevious is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>HouseRentPrevious</label>
<input uppercase class='form-control' placeholder='Enter HouseRentPrevious' type='text' name='HouseRentPrevious' autocomplete='off'  formControlName='HouseRentPrevious' [ngClass]=
"{ 'is-invalid': submitted && form.HouseRentPrevious.errors}"/><div *ngIf='submitted && form.HouseRentPrevious.errors' class='invalid-feedback'> <span *ngIf='form.HouseRentPrevious.errors.required'>HouseRentPrevious is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>ConveyencePrevious</label>
<input uppercase class='form-control' placeholder='Enter ConveyencePrevious' type='text' name='ConveyencePrevious' autocomplete='off'  formControlName='ConveyencePrevious' [ngClass]=
"{ 'is-invalid': submitted && form.ConveyencePrevious.errors}"/><div *ngIf='submitted && form.ConveyencePrevious.errors' class='invalid-feedback'> <span *ngIf='form.ConveyencePrevious.errors.required'>ConveyencePrevious is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>OtherPrevious</label>
<input uppercase class='form-control' placeholder='Enter OtherPrevious' type='text' name='OtherPrevious' autocomplete='off'  formControlName='OtherPrevious' [ngClass]=
"{ 'is-invalid': submitted && form.OtherPrevious.errors}"/><div *ngIf='submitted && form.OtherPrevious.errors' class='invalid-feedback'> <span *ngIf='form.OtherPrevious.errors.required'>OtherPrevious is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>GrossPrevious</label>
<input uppercase class='form-control' placeholder='Enter GrossPrevious' type='text' name='GrossPrevious' autocomplete='off'  formControlName='GrossPrevious' [ngClass]=
"{ 'is-invalid': submitted && form.GrossPrevious.errors}"/><div *ngIf='submitted && form.GrossPrevious.errors' class='invalid-feedback'> <span *ngIf='form.GrossPrevious.errors.required'>GrossPrevious is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>PayQuit</label>
<input uppercase class='form-control' placeholder='Enter PayQuit' type='text' name='PayQuit' autocomplete='off'  formControlName='PayQuit' [ngClass]=
"{ 'is-invalid': submitted && form.PayQuit.errors}"/><div *ngIf='submitted && form.PayQuit.errors' class='invalid-feedback'> <span *ngIf='form.PayQuit.errors.required'>PayQuit is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>PFDeduct</label>
<input uppercase class='form-control' placeholder='Enter PFDeduct' type='text' name='PFDeduct' autocomplete='off'  formControlName='PFDeduct' [ngClass]=
"{ 'is-invalid': submitted && form.PFDeduct.errors}"/><div *ngIf='submitted && form.PFDeduct.errors' class='invalid-feedback'> <span *ngIf='form.PFDeduct.errors.required'>PFDeduct is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>VoluntaryPF</label>
<input uppercase class='form-control' placeholder='Enter VoluntaryPF' type='text' name='VoluntaryPF' autocomplete='off'  formControlName='VoluntaryPF' [ngClass]=
"{ 'is-invalid': submitted && form.VoluntaryPF.errors}"/><div *ngIf='submitted && form.VoluntaryPF.errors' class='invalid-feedback'> <span *ngIf='form.VoluntaryPF.errors.required'>VoluntaryPF is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>DateOfBirth</label>
<input uppercase class='form-control' placeholder='Enter DateOfBirth' type='text' name='DateOfBirth' autocomplete='off'  formControlName='DateOfBirth' [ngClass]=
"{ 'is-invalid': submitted && form.DateOfBirth.errors}"/><div *ngIf='submitted && form.DateOfBirth.errors' class='invalid-feedback'> <span *ngIf='form.DateOfBirth.errors.required'>DateOfBirth is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>DateOfJoining</label>
<input uppercase class='form-control' placeholder='Enter DateOfJoining' type='text' name='DateOfJoining' autocomplete='off'  formControlName='DateOfJoining' [ngClass]=
"{ 'is-invalid': submitted && form.DateOfJoining.errors}"/><div *ngIf='submitted && form.DateOfJoining.errors' class='invalid-feedback'> <span *ngIf='form.DateOfJoining.errors.required'>DateOfJoining is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>DateOfLeaving</label>
<input uppercase class='form-control' placeholder='Enter DateOfLeaving' type='text' name='DateOfLeaving' autocomplete='off'  formControlName='DateOfLeaving' [ngClass]=
"{ 'is-invalid': submitted && form.DateOfLeaving.errors}"/><div *ngIf='submitted && form.DateOfLeaving.errors' class='invalid-feedback'> <span *ngIf='form.DateOfLeaving.errors.required'>DateOfLeaving is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>GauranterName</label>
<input uppercase class='form-control' placeholder='Enter GauranterName' type='text' name='GauranterName' autocomplete='off'  formControlName='GauranterName' [ngClass]=
"{ 'is-invalid': submitted && form.GauranterName.errors}"/><div *ngIf='submitted && form.GauranterName.errors' class='invalid-feedback'> <span *ngIf='form.GauranterName.errors.required'>GauranterName is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>GauranterAdd1</label>
<input uppercase class='form-control' placeholder='Enter GauranterAdd1' type='text' name='GauranterAdd1' autocomplete='off'  formControlName='GauranterAdd1' [ngClass]=
"{ 'is-invalid': submitted && form.GauranterAdd1.errors}"/><div *ngIf='submitted && form.GauranterAdd1.errors' class='invalid-feedback'> <span *ngIf='form.GauranterAdd1.errors.required'>GauranterAdd1 is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>GauranterAdd2</label>
<input uppercase class='form-control' placeholder='Enter GauranterAdd2' type='text' name='GauranterAdd2' autocomplete='off'  formControlName='GauranterAdd2' [ngClass]=
"{ 'is-invalid': submitted && form.GauranterAdd2.errors}"/><div *ngIf='submitted && form.GauranterAdd2.errors' class='invalid-feedback'> <span *ngIf='form.GauranterAdd2.errors.required'>GauranterAdd2 is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>GauranterCity</label>
<input uppercase class='form-control' placeholder='Enter GauranterCity' type='text' name='GauranterCity' autocomplete='off'  formControlName='GauranterCity' [ngClass]=
"{ 'is-invalid': submitted && form.GauranterCity.errors}"/><div *ngIf='submitted && form.GauranterCity.errors' class='invalid-feedback'> <span *ngIf='form.GauranterCity.errors.required'>GauranterCity is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>GauranterPin</label>
<input uppercase class='form-control' placeholder='Enter GauranterPin' type='text' name='GauranterPin' autocomplete='off'  formControlName='GauranterPin' [ngClass]=
"{ 'is-invalid': submitted && form.GauranterPin.errors}"/><div *ngIf='submitted && form.GauranterPin.errors' class='invalid-feedback'> <span *ngIf='form.GauranterPin.errors.required'>GauranterPin is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>GauranterState</label>
<input uppercase class='form-control' placeholder='Enter GauranterState' type='text' name='GauranterState' autocomplete='off'  formControlName='GauranterState' [ngClass]=
"{ 'is-invalid': submitted && form.GauranterState.errors}"/><div *ngIf='submitted && form.GauranterState.errors' class='invalid-feedback'> <span *ngIf='form.GauranterState.errors.required'>GauranterState is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>UANNo</label>
<input uppercase class='form-control' placeholder='Enter UANNo' type='text' name='UANNo' autocomplete='off'  formControlName='UANNo' [ngClass]=
"{ 'is-invalid': submitted && form.UANNo.errors}"/><div *ngIf='submitted && form.UANNo.errors' class='invalid-feedback'> <span *ngIf='form.UANNo.errors.required'>UANNo is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>PFNo</label>
<input uppercase class='form-control' placeholder='Enter PFNo' type='text' name='PFNo' autocomplete='off'  formControlName='PFNo' [ngClass]=
"{ 'is-invalid': submitted && form.PFNo.errors}"/><div *ngIf='submitted && form.PFNo.errors' class='invalid-feedback'> <span *ngIf='form.PFNo.errors.required'>PFNo is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>ESINo</label>
<input uppercase class='form-control' placeholder='Enter ESINo' type='text' name='ESINo' autocomplete='off'  formControlName='ESINo' [ngClass]=
"{ 'is-invalid': submitted && form.ESINo.errors}"/><div *ngIf='submitted && form.ESINo.errors' class='invalid-feedback'> <span *ngIf='form.ESINo.errors.required'>ESINo is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>DutyTime</label>
<input uppercase class='form-control' placeholder='Enter DutyTime' type='text' name='DutyTime' autocomplete='off'  formControlName='DutyTime' [ngClass]=
"{ 'is-invalid': submitted && form.DutyTime.errors}"/><div *ngIf='submitted && form.DutyTime.errors' class='invalid-feedback'> <span *ngIf='form.DutyTime.errors.required'>DutyTime is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>PANNo</label>
<input uppercase class='form-control' placeholder='Enter PANNo' type='text' name='PANNo' autocomplete='off'  formControlName='PANNo' [ngClass]=
"{ 'is-invalid': submitted && form.PANNo.errors}"/><div *ngIf='submitted && form.PANNo.errors' class='invalid-feedback'> <span *ngIf='form.PANNo.errors.required'>PANNo is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>ADHAARNo</label>
<input uppercase class='form-control' placeholder='Enter ADHAARNo' type='text' name='ADHAARNo' autocomplete='off'  formControlName='ADHAARNo' [ngClass]=
"{ 'is-invalid': submitted && form.ADHAARNo.errors}"/><div *ngIf='submitted && form.ADHAARNo.errors' class='invalid-feedback'> <span *ngIf='form.ADHAARNo.errors.required'>ADHAARNo is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>OtherDetails</label>
<input uppercase class='form-control' placeholder='Enter OtherDetails' type='text' name='OtherDetails' autocomplete='off'  formControlName='OtherDetails' [ngClass]=
"{ 'is-invalid': submitted && form.OtherDetails.errors}"/><div *ngIf='submitted && form.OtherDetails.errors' class='invalid-feedback'> <span *ngIf='form.OtherDetails.errors.required'>OtherDetails is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>ImagePath</label>
<input uppercase class='form-control' placeholder='Enter ImagePath' type='text' name='ImagePath' autocomplete='off'  formControlName='ImagePath' [ngClass]=
"{ 'is-invalid': submitted && form.ImagePath.errors}"/><div *ngIf='submitted && form.ImagePath.errors' class='invalid-feedback'> <span *ngIf='form.ImagePath.errors.required'>ImagePath is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>Imagename</label>
<input uppercase class='form-control' placeholder='Enter Imagename' type='text' name='Imagename' autocomplete='off'  formControlName='Imagename' [ngClass]=
"{ 'is-invalid': submitted && form.Imagename.errors}"/><div *ngIf='submitted && form.Imagename.errors' class='invalid-feedback'> <span *ngIf='form.Imagename.errors.required'>Imagename is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>LoginID</label>
<input uppercase class='form-control' placeholder='Enter LoginID' type='text' name='LoginID' autocomplete='off'  formControlName='LoginID' [ngClass]=
"{ 'is-invalid': submitted && form.LoginID.errors}"/><div *ngIf='submitted && form.LoginID.errors' class='invalid-feedback'> <span *ngIf='form.LoginID.errors.required'>LoginID is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>LPassword</label>
<input uppercase class='form-control' placeholder='Enter LPassword' type='text' name='LPassword' autocomplete='off'  formControlName='LPassword' [ngClass]=
"{ 'is-invalid': submitted && form.LPassword.errors}"/><div *ngIf='submitted && form.LPassword.errors' class='invalid-feedback'> <span *ngIf='form.LPassword.errors.required'>LPassword is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>InTime</label>
<input uppercase class='form-control' placeholder='Enter InTime' type='text' name='InTime' autocomplete='off'  formControlName='InTime' [ngClass]=
"{ 'is-invalid': submitted && form.InTime.errors}"/><div *ngIf='submitted && form.InTime.errors' class='invalid-feedback'> <span *ngIf='form.InTime.errors.required'>InTime is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>OutTime</label>
<input uppercase class='form-control' placeholder='Enter OutTime' type='text' name='OutTime' autocomplete='off'  formControlName='OutTime' [ngClass]=
"{ 'is-invalid': submitted && form.OutTime.errors}"/><div *ngIf='submitted && form.OutTime.errors' class='invalid-feedback'> <span *ngIf='form.OutTime.errors.required'>OutTime is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>Etype</label>
<input uppercase class='form-control' placeholder='Enter Etype' type='text' name='Etype' autocomplete='off'  formControlName='Etype' [ngClass]=
"{ 'is-invalid': submitted && form.Etype.errors}"/><div *ngIf='submitted && form.Etype.errors' class='invalid-feedback'> <span *ngIf='form.Etype.errors.required'>Etype is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>BAllocation</label>
<input uppercase class='form-control' placeholder='Enter BAllocation' type='text' name='BAllocation' autocomplete='off'  formControlName='BAllocation' [ngClass]=
"{ 'is-invalid': submitted && form.BAllocation.errors}"/><div *ngIf='submitted && form.BAllocation.errors' class='invalid-feedback'> <span *ngIf='form.BAllocation.errors.required'>BAllocation is required.</span> </div>
</div>

        </div>
      </div>
      <button type="submit" class="btn btn-success" id="btn-save-event">
        Save
      </button>
    </form>
  </div>
</ng-template>