<p-toast></p-toast>
<app-loader></app-loader>


<div class="container-fluid">
    <app-page-title title="CURRENCY MASTER" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-sm-3">
                    <div class="search-box me-2 mb-2 d-inline-block">
                      <div class="position-relative">
                        <span [style]="{'display': 'inline-flex', 'height':'35px'}"class="p-input-icon-left">
                            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedProducts()" [disabled]="!selectedItems || !selectedItems.length"></button>&nbsp;
                            <input class="form-control" pInputText type="text" [(ngModel)]="term"
                            (ngModelChange)='searchChanged.next($event)'
                                placeholder="Search..." />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <div class="d-flex justify-content-between bd-highlight">
                        <div class="p-2 bd-highlight"> 
                          
                        </div>
                        
                        <div class="p-2 bd-highlight"[style]="{'display': 'inline-flex', 'height':'50px'}">
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        </div>
                      </div>
                   
                  </div>
                  <!-- end col-->
                </div>
                <div class="table-responsive">
                    <p-table id="myTable" [scrollable]="true" scrollHeight="400px" scrollDirection="both"
                    styleClass="table-panel" #dt [value]="items" [rows]="10" [paginator]="false"
                    [globalFilterFields]="['name','country.name','representative.name','status']"
                    responsiveLayout="scroll" [(selection)]="selectedItems" [rowHover]="true" dataKey="SlNo"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3%">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width:17%" pSortableColumn="CurrencyName">CurrencyName<p-sortIcon field="CurrencyName"></p-sortIcon>
                    </th>
                    <th style="width:15%" pSortableColumn="ShortName">Short Name<p-sortIcon field="ShortName"></p-sortIcon>
                    </th>
                    <th style="width:20%" pSortableColumn="CurrDesc">Currency Description<p-sortIcon field="CurrDesc"></p-sortIcon>
                    </th>
                    <th style="width:15%" pSortableColumn="CurrSign">Curr sign<p-sortIcon field="CurrSign"></p-sortIcon>
                    </th>
                    <th style="width:15%" pSortableColumn="DefaCurr">Default Curr<p-sortIcon field="DefaCurr"></p-sortIcon>
                    </th>
                
                   
                    <th style="width:15%" alignFrozen="right" pFrozenColumn>Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td style="width: 3%">
                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                    </td>

                    <!-- <td style="width:200px">{{product.SlNo}}</td> -->
                    <td style="width:17%" >{{product.CurrencyName}}</td>
                    <td style="width:15%">{{product.ShortName}}</td>
                    <td style="width:20%"> {{product.CurrDesc}}</td>
                    <td style="width:15%">{{product.CurrSign}}</td>
                    <td style="width:15%">{{product.DefaCurr}}</td>
                   
                   
                  
                    <td [style]="{'display': 'inline-flex','width':'15%'}" alignFrozen="right" pFrozenColumn>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            (click)="editProduct(product)"></button>
                            &nbsp;
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduct(product)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="d-flex justify-content-between align-items-center  custom-footer">
                    <div class="bd-highlight">
                        Showinng {{pageSize*(page-1)}} to {{(pageSize*page)>totalRecords?totalRecords:pageSize*page}} of {{totalRecords}} entries
                    </div>
                   
                    <div class="bd-highlight">

                        <p-paginator styleClass="custom-paginator" [rows]="pageSize" [totalRecords]="totalRecords"
                        (onPageChange)="handlePagination($event)"></p-paginator>
                    </div>
                  </div>
            </ng-template>
        </p-table>
    </div>


    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>