<div class="ps-lost-password">
     <div class="container">
         <ul class="ps-breadcrumb">
             <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
             <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="#">My Account</a></li>
         </ul>
         <div class="ps-lost-password__content">
             <div class="ps-lost-password__text">Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</div>
             <form action="https://nouthemes.net/html/yobazar/do_action" method="post">
                 <div class="ps-form--review">
                     <div class="ps-form__group">
                         <label class="ps-form__label">Username or email</label>
                         <input class="form-control ps-form__input" type="text">
                     </div>
                     <div class="ps-form__submit">
                         <button class="ps-btn ps-btn--rounded ps-btn--dark">Reset password</button>
                     </div>
                 </div>
             </form>
         </div>
     </div>
 </div>
