<div class="ps-about">
     <div class="ps-about__breadcrumb">
         <div class="container">
             <ul class="ps-breadcrumb">
                 <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
                 <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="#">About us</a></li>
             </ul>
         </div>
     </div>
     <section class="ps-about--content">
         <div class="container">
             <div class="ps-about__content">
                 <h2 class="ps-about__title">Tailored clothes available as in chain stores.</h2>
                 <p class="ps-about__subtitle">These settings don’t provide big changes but only some small css changes in spaces or borders for example.</p>
                 <p class="ps-about__text">Because we have many types of elements we created Live Editor for you so you can see live changes.</p>
                 <div class="ps-about__extent">
                     <div class="ps-about__item"> <img src="img/icon/delivery.svg" alt=""><span>Free delivery</span></div>
                     <div class="ps-about__item"> <img src="img/icon/non-contact.svg" alt=""><span>Non-contact shipping</span></div>
                     <div class="ps-about__item"> <img src="img/icon/wallet.svg" alt=""><span>Money-back quarantee</span></div>
                 </div>
             </div>
         </div>
     </section>
     <section class="ps-video--home">
         <div class="container">
             <div class="ps-video__grid">
                 <div class="ps-video__content">
                     <h2 class="ps-video__title">A team of designers <br>that make dreams<br>come true</h2>
                     <p class="ps-video__desc">Unique clothes for everyone!</p><a class="ps-btn ps-btn--rounded ps-btn--danger" href="#">Read more</a>
                 </div>
                 <div class="ps-video__thumnail">
                     <div style="display:none;" id="video1">
                         <video class="lg-video-object lg-html5" controls="" preload="none">
                             <source src="img/video.mp4" type="video/mp4">Your browser does not support HTML5 video.
                         </video>
                     </div><img class="ps-video__image" src="img/5390847.jpg" alt>
                     <div class="ps-video__gallery" id="ps-video-gallery">
                         <div class="video" data-html="#video1" data-poster="img/5390847.jpg"><a class="ps-video__play" href="#"></a></div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <section class="ps-about--project">
         <div class="container">
             <div class="ps-about__grid">
                 <div class="ps-about__item">
                     <h3 class="ps-about__title">Duis condimentum, ipsum vel tristique ullamcorper, ante nibh luctus nulla, vel ultrices lectus risus eu enim. </h3>
                     <p class="ps-about__subtitle">Aliquam viverra tellus a urna facilisis bibendum. Phasellus maximus varius erat sed molestie. Sed hendrerit ante a orci semper, ut egestas ipsum malesuada.</p>
                     <p class="ps-about__desc">Nulla vitae ante in erat rutrum finibus eu vel nibh. Quisque nisi purus, cursus id tortor sed, molestie tempus nisi. Nunc id est id magna egestas elementum quis luctus lorem. </p>
                     <ul class="ps-about__list">
                         <li>Sed hendrerit ante a orci semper, ut egestas ipsu..</li>
                         <li>Nullam sollicitudin lectus dolor, nec mollis. </li>
                         <li>Quisque nisi purus, cursus id tortor sed. </li>
                     </ul>
                 </div>
                 <div class="ps-about__item">
                     <h3 class="ps-about__title">Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </h3>
                     <p class="ps-about__subtitle">Mauris eu turpis semper nunc eleifend vestibulum molestie vel velit. Vivamus posuere aliquam mi quis vulputate. Integer volutpat efficitur tellus vel tempus. </p>
                     <p class="ps-about__desc">Nam sit amet lorem id massa sagittis pretium non nec enim. Vestibulum libero enim, pretium sed tortor a, scelerisque commodo turpis. Aliquam vulputate odio non sapien egestas fringilla. </p>
                     <ul class="ps-about__list">
                         <li>Vivamus et quam purus. </li>
                         <li>Donec vitae commodo mauris, id pharetra dui. </li>
                         <li>Aenean tristique commodo gravida. </li>
                     </ul>
                 </div>
             </div>
         </div>
     </section>
     <section class="ps-video--full">
         <div class="ps-banner">
             <div class="ps-banner__thumnail">
                 <figure>
                     <video loop muted autoplay>
                         <source src="img/video-parallax.mp4">
                     </video>
                 </figure>
             </div>
             <div class="ps-banner__content">
                 <div class="container">
                     <h2 class="ps-banner__title text-white">Parallax with<br>another video</h2>
                     <p class="ps-banner__desc text-white">More eye catching</p><a class="ps-btn ps-btn--rounded ps-btn--danger" href="shop-list.html">Shop now </a>
                 </div>
             </div>
         </div>
     </section>
     <section class="ps-about--info">
         <div class="container">
             <h2 class="ps-about__title">Aliquam viverra tellus a urna <br>facilisis bibendum. </h2>
             <div class="ps-about__grid">
                 <div class="ps-block--about">
                     <div class="ps-block__icon"><img src="img/icon/delivery.svg" alt=""></div>
                     <h4 class="ps-block__title">Phasellus maximus varius <br/>erat sed molestie. </h4>
                     <p class="ps-block__desc">Cras mattis finibus justo eu condimentum. Ut id metus interdum, pretium tortor et, congue turpis. Sed condimentum gravida neque, eu ultrices diam consectetur nec.</p>
                 </div>
                 <div class="ps-block--about">
                     <div class="ps-block__icon"><img src="img/icon/non-contact.svg" alt=""></div>
                     <h4 class="ps-block__title">Aenean tristique <br/>commodo gravida. </h4>
                     <p class="ps-block__desc">In hac habitasse platea dictumst. Sed venenatis tellus vitae dolor mattis mollis. Morbi nec placerat metus, ac aliquet felis. Suspendisse faucibus libero fringilla neque sagittis rutrum. </p>
                 </div>
                 <div class="ps-block--about">
                     <div class="ps-block__icon"><img src="img/icon/wallet.svg" alt=""></div>
                     <h4 class="ps-block__title">Phasellus ultrices rutrum <br/>ex ut tempus. </h4>
                     <p class="ps-block__desc">Nulla accumsan vel ex vitae luctus. Ut eros ante, molestie id mattis et, consequat a est. Maecenas ut eros nec nisl ultricies tempor vitae eget eros.</p>
                 </div>
             </div>
         </div>
     </section>
     <div class="ps-about__promo">
         <div class="container">
             <div class="row">
                 <div class="col-12 col-md-6">
                     <div class="ps-promo ps-promo--left"><img class="ps-promo__banner" src="img/promotion/banner-6.jpg" alt="alt" />
                         <div class="ps-promo__content">
                             <h4 class="ps-promo__title">Street style <br/>has its own <br/>rules</h4>
                             <div class="ps-promo__link"> <a href="shop-list.html"><span>Shop Now</span><img src="img/icon/arrow-long-right.svg" alt="" /></a></div>
                         </div>
                     </div>
                 </div>
                 <div class="col-12 col-md-6">
                     <div class="ps-promo ps-promo--left"><img class="ps-promo__banner" src="img/promotion/banner-7.jpg" alt="alt" />
                         <div class="ps-promo__content">
                             <h4 class="ps-promo__title">Old style <br/>in a new <br/>edition</h4>
                             <div class="ps-promo__link"> <a href="shop-list.html"><span>Shop Now</span><img src="img/icon/arrow-long-right.svg" alt="" /></a></div>
                         </div>
                     </div>
                 </div>
                 <div class="col-12">
                     <div class="ps-promo ps-promo--left"><img class="ps-promo__banner" src="img/promotion/banner-8.jpg" alt="alt" />
                         <div class="ps-promo__content">
                             <h4 class="ps-promo__title">A team of designers <br/>that make dreams <br/>come true</h4>
                             <div class="ps-promo__link"> <a href="shop-list.html"><span>Shop Now</span><img src="img/icon/arrow-long-right.svg" alt="" /></a></div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <section class="ps-section--default ps-section--blog">
         <div class="container">
             <h3 class="ps-section__title">The real stories <br>behind our brand.</h3>
             <div class="ps-section__carousel">
                 <div class="owl-carousel" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="2" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="2" data-owl-item-lg="2" data-owl-item-xl="2" data-owl-duration="1000" data-owl-mousedrag="on">
                     <div class="ps-blog--latset">
                         <div class="ps-blog__thumbnail"><a href="blog-post.html"><img src="img/blogs/blog-1.jpg" alt="alt" /></a>
                             <div class="ps-blog__badge"><span class="ps-badge__item">Fashion</span><span class="ps-badge__item">Women</span>
                             </div>
                         </div>
                         <div class="ps-blog__content">
                             <h3 class="ps-blog__title"><a href="blog-post.html">The best ways to change your summer wardrobe into autumn wardrobe.</a></h3>
                             <p class="ps-blog__date">March 05,2021</p>
                         </div>
                     </div>
                     <div class="ps-blog--latset">
                         <div class="ps-blog__thumbnail"><a href="blog-post.html"><img src="img/blogs/blog-2.jpg" alt="alt" /></a>
                             <div class="ps-blog__badge"><span class="ps-badge__item">Fashion</span><span class="ps-badge__item">Women</span>
                             </div>
                         </div>
                         <div class="ps-blog__content">
                             <h3 class="ps-blog__title"><a href="blog-post.html">Men's fashion in leather.</a></h3>
                             <p class="ps-blog__date">March 05,2021</p>
                         </div>
                     </div>
                     <div class="ps-blog--latset">
                         <div class="ps-blog__thumbnail"><a href="blog-post.html"><img src="img/blogs/blog-3.jpg" alt="alt" /></a>
                             <div class="ps-blog__badge"><span class="ps-badge__item">Fashion</span><span class="ps-badge__item">Women</span>
                             </div>
                         </div>
                         <div class="ps-blog__content">
                             <h3 class="ps-blog__title"><a href="blog-post.html">The best ways to change your summer wardrobe into autumn wardrobe.</a></h3>
                             <p class="ps-blog__date">March 05,2021</p>
                         </div>
                     </div>
                     <div class="ps-blog--latset">
                         <div class="ps-blog__thumbnail"><a href="blog-post.html"><img src="img/blogs/blog-4.jpg" alt="alt" /></a>
                             <div class="ps-blog__badge"><span class="ps-badge__item">Fashion</span><span class="ps-badge__item">Women</span>
                             </div>
                         </div>
                         <div class="ps-blog__content">
                             <h3 class="ps-blog__title"><a href="blog-post.html">The best ways to change your summer wardrobe into autumn wardrobe.</a></h3>
                             <p class="ps-blog__date">March 05,2021</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <section class="ps-section--default ps-instagram">
         <div class="container">
             <h3 class="ps-section__title">Express yourself with
                 <u>#yobazar</u><br>on instagram
             </h3>
             <div class="ps-section__content">
                 <div class="row m-0">
                     <div class="col-6 col-md-4 col-lg-2dot4"> <a class="ps-image--transition" href="https://www.instagram.com/p/CJus2DVJSkL/" target="_blank"> <img src="img/instagram/instagram1.jpg" alt><span class="ps-image__overlay"><i class="fa fa-instagram"></i></span></a></div>
                     <div class="col-6 col-md-4 col-lg-2dot4"> <a class="ps-image--transition" href="https://www.instagram.com/p/CJus0XNpzRk/" target="_blank"> <img src="img/instagram/instagram2.jpg" alt><span class="ps-image__overlay"><i class="fa fa-instagram"></i></span></a></div>
                     <div class="col-6 col-md-4 col-lg-2dot4"> <a class="ps-image--transition" href="https://www.instagram.com/p/CJusypkJPuK/" target="_blank"> <img src="img/instagram/instagram3.jpg" alt><span class="ps-image__overlay"><i class="fa fa-instagram"></i></span></a></div>
                     <div class="col-6 col-md-4 col-lg-2dot4"> <a class="ps-image--transition" href="https://www.instagram.com/p/CJusw1epNrr/" target="_blank"> <img src="img/instagram/instagram4.jpg" alt><span class="ps-image__overlay"><i class="fa fa-instagram"></i></span></a></div>
                     <div class="col-6 col-md-4 col-lg-2dot4"> <a class="ps-image--transition" href="https://www.instagram.com/p/CJusu5ipnw5/" target="_blank"> <img src="img/instagram/instagram5.jpg" alt><span class="ps-image__overlay"><i class="fa fa-instagram"></i></span></a></div>
                 </div>
                 <div class="ps-section__link"><a href="#" target="_blank">Follow us on Instagram</a></div>
             </div>
         </div>
     </section>
 </div>
