<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="RENT MASTER" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <!-- <h4 class="card-title">Basic Information</h4>
          <p class="card-title-desc">Fill all information below</p> -->

          <form [formGroup]="formData" (ngSubmit)="validSubmit()">
            <div class="row">
              <div class="col-sm-6">
              <!-- <div class='mb-3'>
<label for='ID'>ID</label>
<input uppercase class='form-control' placeholder='Enter ID' type='text' name='ID' autocomplete='off'  formControlName='ID' [ngClass]=
"{ 'is-invalid': submit && form.ID.errors}"/><div *ngIf='submit && form.ID.errors' class='invalid-feedback'>
 <span *ngIf='form.ID.errors.required'>ID Name is required.</span>
 </div>
 </div> -->
 <div class='mb-3'>
  <label for='BRANCH_NAME'>BRANCH_NAME</label>
  <ng-select [items]="branchData"  bindLabel="brancH_NAME" 
bindValue="brancH_CODE" placeholder="Select BRANCH" formControlName="BRANCH_NAME" [ngClass]="{ 'is-invalid': (submit || formData.get('BRANCH_NAME').dirty || formData.get('BRANCH_NAME').touched) && form.BRANCH_NAME.errors}"
></ng-select>
<div *ngIf='submit && form.BRANCH_NAME.errors' class='invalid-feedback'>
   <span *ngIf='form.BRANCH_NAME.errors.required'>BRANCH_NAME Name is required.</span>
   </div>
   </div>
   <div class='mb-3'>
    <label for='CODE'>CODE</label>
    <input uppercase class='form-control' placeholder='Enter CODE' maxlength="3" type='text' name='CODE' autocomplete='off'  formControlName='CODE' [ngClass]=
    "{ 'is-invalid': submit && form.CODE.errors}"/><div *ngIf='submit && form.CODE.errors' class='invalid-feedback'>
     <span *ngIf='form.CODE.errors.required'>CODE Name is required.</span>
     </div>
     </div>
<!-- <div class='mb-3'>
<label for='BRANCH_CODE'>BRANCH_CODE</label>
<input uppercase class='form-control' placeholder='Enter BRANCH_CODE' type='text' name='BRANCH_CODE' autocomplete='off'  formControlName='BRANCH_CODE' [ngClass]=
"{ 'is-invalid': submit && form.BRANCH_CODE.errors}"/><div *ngIf='submit && form.BRANCH_CODE.errors' class='invalid-feedback'>
 <span *ngIf='form.BRANCH_CODE.errors.required'>BRANCH_CODE Name is required.</span>
 </div>
 </div> -->
<!-- <div class='mb-3'>
<label for='TYPE'>TYPE</label>
<input uppercase class='form-control' placeholder='Enter TYPE' type='text' name='TYPE' autocomplete='off'  formControlName='TYPE' [ngClass]=
"{ 'is-invalid': submit && form.TYPE.errors}"/><div *ngIf='submit && form.TYPE.errors' class='invalid-feedback'>
 <span *ngIf='form.TYPE.errors.required'>TYPE Name is required.</span>
 </div>
 </div> -->
<div class='mb-3'>
<label for='NAME'>NAME</label>
<input uppercase class='form-control' placeholder='Enter NAME' type='text' name='NAME' autocomplete='off'  formControlName='NAME' [ngClass]=
"{ 'is-invalid': submit && form.NAME.errors}"/><div *ngIf='submit && form.NAME.errors' class='invalid-feedback'>
 <span *ngIf='form.NAME.errors.required'>NAME Name is required.</span>
 </div>
 </div>
 <div class='mb-3'>
  <label for='LANDLORD_NAME'>LANDLORD_NAME</label>
  <input uppercase class='form-control' placeholder='Enter LANDLORD_NAME' type='text' name='LANDLORD_NAME' autocomplete='off'  formControlName='LANDLORD_NAME' [ngClass]=
  "{ 'is-invalid': submit && form.LANDLORD_NAME.errors}"/><div *ngIf='submit && form.LANDLORD_NAME.errors' class='invalid-feedback'>
   <span *ngIf='form.LANDLORD_NAME.errors.required'>LANDLORD_NAME Name is required.</span>
   </div>
   </div>
<div class='mb-3'>
<label for='ADDRESS'>ADDRESS</label>
<textarea class='form-control' [rows]="3" placeholder='Enter ADDRESS' type='text' name='ADDRESS' autocomplete='off'  formControlName='ADDRESS' [ngClass]=
"{ 'is-invalid': submit && form.ADDRESS.errors}"></textarea><div *ngIf='submit && form.ADDRESS.errors' class='invalid-feedback'>
 <span *ngIf='form.ADDRESS.errors.required'>ADDRESS Name is required.</span>
 </div>
 </div>
 <div class='mb-3'>
  <label for='CITY'>CITY</label>
  <input uppercase class='form-control' placeholder='Enter CITY' type='text' name='CITY' autocomplete='off'  formControlName='CITY' [ngClass]=
  "{ 'is-invalid': submit && form.CITY.errors}"/><div *ngIf='submit && form.CITY.errors' class='invalid-feedback'>
   <span *ngIf='form.CITY.errors.required'>CITY Name is required.</span>
   </div>
   </div>
 
<!-- <div class='mb-3'>
<label for='PRV_AMOUNT'>PRV_AMOUNT</label>
<input uppercase class='form-control' placeholder='Enter PRV_AMOUNT' type='text' name='PRV_AMOUNT' autocomplete='off'  formControlName='PRV_AMOUNT' [ngClass]=
"{ 'is-invalid': submit && form.PRV_AMOUNT.errors}"/><div *ngIf='submit && form.PRV_AMOUNT.errors' class='invalid-feedback'>
 <span *ngIf='form.PRV_AMOUNT.errors.required'>PRV_AMOUNT Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='TO_DATE'>TO_DATE</label>
<input uppercase class='form-control' placeholder='Enter TO_DATE' type='text' name='TO_DATE' autocomplete='off'  formControlName='TO_DATE' [ngClass]=
"{ 'is-invalid': submit && form.TO_DATE.errors}"/><div *ngIf='submit && form.TO_DATE.errors' class='invalid-feedback'>
 <span *ngIf='form.TO_DATE.errors.required'>TO_DATE Name is required.</span>
 </div>
 </div> -->

              </div>

              <div class="col-sm-6">


<!-- <div class='mb-3'>
<label for='AREA'>AREA</label>
<input uppercase class='form-control' placeholder='Enter AREA' type='text' name='AREA' autocomplete='off'  formControlName='AREA' [ngClass]=
"{ 'is-invalid': submit && form.AREA.errors}"/><div *ngIf='submit && form.AREA.errors' class='invalid-feedback'>
 <span *ngIf='form.AREA.errors.required'>AREA Name is required.</span>
 </div>
 </div> -->

<div class='mb-3'>
<label for='PIN'>PIN</label>
<input uppercase class='form-control' (keypress)="numberOnly($event)" maxlength="6" placeholder='Enter PIN' type='text' name='PIN' autocomplete='off'  formControlName='PIN' [ngClass]=
"{ 'is-invalid': submit && form.PIN.errors}"/><div *ngIf='submit && form.PIN.errors' class='invalid-feedback'>
 <span *ngIf='form.PIN.errors.required'>PIN Name is required.</span>
 </div>
 </div>
 <div class='mb-3'>
  <label for='RENT'>RENT</label>
  <input uppercase class='form-control' maxlength="9" placeholder='Enter RENT' appTwoDigitDecimaNumber type='text' name='RENT' autocomplete='off'  formControlName='RENT' [ngClass]=
  "{ 'is-invalid': submit && form.RENT.errors}"/><div *ngIf='submit && form.RENT.errors' class='invalid-feedback'>
   <span *ngIf='form.RENT.errors.required'>RENT Name is required.</span>
   </div>
   </div>
<div class='mb-3'>
<label for='OCCUPIED_FROM'>OCCUPIED_FROM</label>
<input uppercase class='form-control' placeholder='Enter OCCUPIED_FROM' type='text' name='OCCUPIED_FROM' autocomplete='off'  formControlName='OCCUPIED_FROM' [ngClass]=
"{ 'is-invalid': submit && form.OCCUPIED_FROM.errors}"/><div *ngIf='submit && form.OCCUPIED_FROM.errors' class='invalid-feedback'>
 <span *ngIf='form.OCCUPIED_FROM.errors.required'>OCCUPIED_FROM Name is required.</span>
 </div>
 </div>


<div class='mb-3'>
<label for='VACATE_DATE'>VACATE_DATE</label>
<input uppercase class='form-control' placeholder='Enter VACATE_DATE' type='Date' [max]="getToday()" name='VACATE_DATE' autocomplete='off'  formControlName='VACATE_DATE' [ngClass]=
"{ 'is-invalid': submit && form.VACATE_DATE.errors}"/><div *ngIf='submit && form.VACATE_DATE.errors' class='invalid-feedback'>
 <span *ngIf='form.VACATE_DATE.errors.required'>VACATE_DATE Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='FROM_DATE'>FROM_DATE</label>
<input uppercase class='form-control' placeholder='Enter FROM_DATE' type='Date' [max]="getToday()" name='FROM_DATE' autocomplete='off'  formControlName='FROM_DATE' [ngClass]=
"{ 'is-invalid': submit && form.FROM_DATE.errors}"/><div *ngIf='submit && form.FROM_DATE.errors' class='invalid-feedback'>
 <span *ngIf='form.FROM_DATE.errors.required'>FROM_DATE Name is required.</span>
 </div>
 </div>

              </div>
            </div>
           
            <div class="d-flex flex-wrap gap-2 mt-2">
              <button type="submit" class="btn btn-primary"   >Save Changes</button>
              <button type="submit" class="btn btn-secondary">Cancel</button>
            </div>
          </form>
        </div>
      </div>

      
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->