<p-toast></p-toast>


<div class="container-fluid">
    <app-page-title title="WPC MASTER" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <span [style]="{'display': 'inline-flex'}" class="p-input-icon-left">
                                        <button pButton pRipple [label]="Delete" icon="pi pi-trash"
                                            class="p-button-danger mr-2" (click)="deleteSelectedProducts()"
                                            [disabled]="!selectedItems || !selectedItems.length"></button>&nbsp;
                                        <input class="form-control" pInputText type="text"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search..." />
 
                                    </span>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="d-flex justify-content-between bd-highlight">
                                <div class="p-2 bd-highlight">
                                   
                                </div>

                                <div class="p-2 bd-highlight">
                                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                        (click)="openNew()"></button>
                                </div>
                            </div>

                        </div>
                        <!-- end col-->
                    </div>

                

                            <div class="table-responsive">
                                <p-table [scrollable]="true" styleClass="table-panel" scrollDirection="both" #dt
                                    [value]="items" [rows]="10" [paginator]="false"
                                    [globalFilterFields]="['name','country.name','representative.name','status']"
                                    responsiveLayout="scroll" [(selection)]="selectedItems" [rowHover]="true"
                                    dataKey="SlNo"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [showCurrentPageReport]="true">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 5%">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>
                                            <th style="width: 10%" pSortableColumn="SlNo">SlNo<p-sortIcon field="SlNo">
                                                </p-sortIcon>
                                            </th>
                                            <th style="width: 15%" pSortableColumn="RecType">GhatNo<p-sortIcon
                                                    field="RecType"></p-sortIcon>
                                            </th>
                                            <th style="width: 20%" pSortableColumn="DescriptionType">Qty
                                                <p-sortIcon field="DescriptionType"></p-sortIcon>
                                            </th>
                                            <th style="width: 20%" pSortableColumn="DescriptionType">Description Type
                                                <p-sortIcon field="DescriptionType"></p-sortIcon>
                                            </th>
                                            <th style="width: 15%" pSortableColumn="inventoryStatus">Status <p-sortIcon
                                                    field="inventoryStatus"></p-sortIcon>
                                            </th>

                                            <th style="width: 15%">Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product>
                                        <tr>
                                            <td style="width: 5%">
                                                <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                            </td>
                                            <td style="width: 10%">{{product.SlNo}}</td>
                                            <td style="width: 15%">{{product.GhatNo}}</td>
                                            <td style="width: 20%">{{product.Qty}}</td>
                                            <td style="width: 20%">{{product.Pcs}}</td>
                                            <td style="width: 20%">{{product.ProductName}}</td>
                                            <td style="width: 15%" [style]="{'display': 'inline-flex'}">
                                                <button pButton pRipple icon="pi pi-pencil"
                                                    class="p-button-rounded p-button-success mr-2"
                                                    (click)="editProduct(product)"></button>&nbsp;
                                                <button pButton pRipple icon="pi pi-trash"
                                                    class="p-button-rounded p-button-danger"
                                                    (click)="deleteProduct(product)"></button>
                                            </td>
                                </tr>
                            </ng-template>
                          
                                    <ng-template pTemplate="summary">
                                        <div class="d-flex justify-content-between">
                                            <div class="p-2 bd-highlight">
                                                In total there are {{items ? items.length : 0 }} products.
                                            </div>
                                           
                                            <div class="p-2 bd-highlight">

                                                <p-paginator  [rows]="pageSize" [totalRecords]="totalRecords"
                                                (onPageChange)="handlePagination($event)"></p-paginator>
                                            </div>
                                          </div>
                                      
                                       
                                    </ng-template>
                                </p-table>

                            </div>


                            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


                </div>