
<div class="ps-wishlist">
     <div class="container">
         <ul class="ps-breadcrumb">
             <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
             <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="#">Wishlist</a></li>
         </ul>
         <h3 class="ps-wishlist__title">My wishlist</h3>
         <div class="ps-wishlist__content">
             <ul class="ps-wishlist__list">
                 <li>
                     <div class="ps-product ps-product--wishlist">
                         <div class="ps-product__remove"><a href="#"><img src="assets/img/icon/close.svg" alt="" /></a></div>
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/40.jpg" alt="alt" /><img class="ps-product__image-back" src="assets/img/products/11.jpg" alt="alt" />
                                 </figure>
                             </a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Travel handle totte bags</a></h5>
                             <div class="ps-product__row">
                                 <div class="ps-product__label">Price:</div>
                                 <div class="ps-product__value"><span class="ps-product__price">$185.00</span>
                                 </div>
                             </div>
                             <div class="ps-product__row ps-product__stock">
                                 <div class="ps-product__label">Stock:</div>
                                 <div class="ps-product__value"><span class="ps-product__out-stock">Out of stock </span>
                                 </div>
                             </div>
                             <div class="ps-product__cart"> <a class="ps-btn ps-btn--rounded ps-btn--dark" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                             </div>
                             <div class="ps-product__row ps-product__quantity">
                                 <div class="ps-product__label">Quantity:</div>
                                 <div class="ps-product__value">
                                     <div class="def-number-input number-input safari_only">
                                         <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><img src="img/icon/minus.svg" alt="" /></button>
                                         <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                         <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><img src="img/icon/plus.svg" alt="" /></button>
                                     </div>
                                 </div>
                             </div>
                             <div class="ps-product__row ps-product__subtotal">
                                 <div class="ps-product__label">Subtotal:</div>
                                 <div class="ps-product__value">$185.00</div>
                             </div>
                         </div>
                     </div>
                 </li>
                 <li>
                     <div class="ps-product ps-product--wishlist">
                         <div class="ps-product__remove"><a href="#"><img src="assets/img/icon/close.svg" alt="" /></a></div>
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/5.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/44.jpg" alt="alt" />
                                 </figure>
                             </a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Short T-shirt with sequins.</a></h5>
                             <div class="ps-product__row">
                                 <div class="ps-product__label">Price:</div>
                                 <div class="ps-product__value"><span class="ps-product__price sale">$200.00</span><span class="ps-product__del">$195.00</span>
                                 </div>
                             </div>
                             <div class="ps-product__row ps-product__stock">
                                 <div class="ps-product__label">Stock:</div>
                                 <div class="ps-product__value"><span class="ps-product__in-stock">In Stock</span>
                                 </div>
                             </div>
                             <div class="ps-product__cart"> <a class="ps-btn ps-btn--rounded ps-btn--dark" href="product-1.html">Select options</a>
                             </div>
                             <div class="ps-product__row ps-product__quantity">
                                 <div class="ps-product__label">Quantity:</div>
                                 <div class="ps-product__value">
                                     <div class="def-number-input number-input safari_only">
                                         <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><img src="img/icon/minus.svg" alt="" /></button>
                                         <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                         <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><img src="img/icon/plus.svg" alt="" /></button>
                                     </div>
                                 </div>
                             </div>
                             <div class="ps-product__row ps-product__subtotal">
                                 <div class="ps-product__label">Subtotal:</div>
                                 <div class="ps-product__value">$200.00</div>
                             </div>
                         </div>
                     </div>
                 </li>
                 <li>
                     <div class="ps-product ps-product--wishlist">
                         <div class="ps-product__remove"><a href="#"><img src="assets/img/icon/close.svg" alt="" /></a></div>
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/16.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/49.jpg" alt="alt" />
                                 </figure>
                             </a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Blue classic long sleeves shirt</a></h5>
                             <div class="ps-product__row">
                                 <div class="ps-product__label">Price:</div>
                                 <div class="ps-product__value"><span class="ps-product__price">$89.00</span>
                                 </div>
                             </div>
                             <div class="ps-product__row ps-product__stock">
                                 <div class="ps-product__label">Stock:</div>
                                 <div class="ps-product__value"><span class="ps-product__in-stock">In Stock</span>
                                 </div>
                             </div>
                             <div class="ps-product__cart"> <a class="ps-btn ps-btn--rounded ps-btn--dark" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                             </div>
                             <div class="ps-product__row ps-product__quantity">
                                 <div class="ps-product__label">Quantity:</div>
                                 <div class="ps-product__value">
                                     <div class="def-number-input number-input safari_only">
                                         <button class="minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"><img src="img/icon/minus.svg" alt="" /></button>
                                         <input class="quantity" min="0" name="quantity" value="1" type="number" />
                                         <button class="plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"><img src="img/icon/plus.svg" alt="" /></button>
                                     </div>
                                 </div>
                             </div>
                             <div class="ps-product__row ps-product__subtotal">
                                 <div class="ps-product__label">Subtotal:</div>
                                 <div class="ps-product__value">$89.00</div>
                             </div>
                         </div>
                     </div>
                 </li>
             </ul>
             <div class="ps-wishlist__table">
                 <table class="table ps-table ps-table--product">
                     <thead>
                         <tr>
                             <th class="ps-table__product">Product</th>
                             <th class="ps-table__meta">Price</th>
                             <th class="ps-table__status">Status</th>
                             <th class="ps-table__cart"> </th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td class="ps-table__product">
                                 <div class="ps-table__box">
                                     <div class="ps-table__remove"> <a href="#"><img src="assets/img/icon/close.svg" alt=""></a></div>
                                     <div class="ps-product ps-product--standard">
                                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                                 <figure><img class="ps-product__image-default" src="assets/img/products/40.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/11.jpg" alt="alt" />
                                                 </figure>
                                             </a>
                                             <div class="ps-product__actions">
                                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                             </div>
                                             <div class="ps-product__badge">
                                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                                         </div>
                                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                                         <div class="ps-product__content">
                                             <h5 class="ps-product__title"><a href="product-1.html">Travel handle totte bags</a></h5>
                                             <div class="ps-product__meta"><span class="ps-product__price">$185.00</span>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </td>
                             <td class="ps-table__meta"> <span class="ps-table__price">$185.00</span>
                             </td>
                             <td class="ps-table__status"> <span class="off">Out of stock </span>
                             </td>
                             <td class="ps-table__cart"><a class="ps-btn ps-btn--rounded ps-btn--dark" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                             </td>
                         </tr>
                         <tr>
                             <td class="ps-table__product">
                                 <div class="ps-table__box">
                                     <div class="ps-table__remove"> <a href="#"><img src="assets/img/icon/close.svg" alt=""></a></div>
                                     <div class="ps-product ps-product--standard">
                                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                                 <figure><img class="ps-product__image-default" src="assets/img/products/5.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/44.jpg" alt="alt" />
                                                 </figure>
                                             </a>
                                             <div class="ps-product__actions">
                                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                             </div>
                                             <div class="ps-product__badge">
                                                 <div class="ps-badge ps-badge--sale">-70%</div>
                                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                                         </div>
                                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                                         <div class="ps-product__content">
                                             <h5 class="ps-product__title"><a href="product-1.html">Short T-shirt with sequins.</a></h5>
                                             <div class="ps-product__meta"><span class="ps-product__price sale">$200.00</span><span class="ps-product__del">$195.00</span>
                                             </div>
                                             <div class="ps-product__footer">
                                                 <div class="custom-control custom-checkbox">
                                                     <input class="custom-control-input" type="radio" id="wishlist2Blackundefined" name="productOption" value="Black" />
                                                     <label class="custom-control-label" for="wishlist2Blackundefined" style="--bg-color: #191919"><span style="--bg-color: #191919"></span></label>
                                                 </div>
                                                 <div class="custom-control custom-checkbox">
                                                     <input class="custom-control-input" type="radio" id="wishlist2Grayundefined" name="productOption" value="Gray" />
                                                     <label class="custom-control-label" for="wishlist2Grayundefined" style="--bg-color: #767676"><span style="--bg-color: #767676"></span></label>
                                                 </div>
                                                 <div class="custom-control custom-checkbox">
                                                     <input class="custom-control-input" type="radio" id="wishlist2Redundefined" name="productOption" value="Red" />
                                                     <label class="custom-control-label" for="wishlist2Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </td>
                             <td class="ps-table__meta"> <span class="ps-table__price sale">$200.00</span><span class="ps-table__del">$195.00</span>
                             </td>
                             <td class="ps-table__status"> <span>In Stock</span>
                             </td>
                             <td class="ps-table__cart"><a class="ps-btn ps-btn--rounded ps-btn--dark" href="product-1.html">Select options</a>
                             </td>
                         </tr>
                         <tr>
                             <td class="ps-table__product">
                                 <div class="ps-table__box">
                                     <div class="ps-table__remove"> <a href="#"><img src="assets/img/icon/close.svg" alt=""></a></div>
                                     <div class="ps-product ps-product--standard">
                                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                                 <figure><img class="ps-product__image-default" src="img/products/16.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/49.jpg" alt="alt" />
                                                 </figure>
                                             </a>
                                             <div class="ps-product__actions">
                                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                             </div>
                                             <div class="ps-product__badge">
                                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                                         </div>
                                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                                         <div class="ps-product__content">
                                             <h5 class="ps-product__title"><a href="product-1.html">Blue classic long sleeves shirt</a></h5>
                                             <div class="ps-product__meta"><span class="ps-product__price">$89.00</span>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </td>
                             <td class="ps-table__meta"> <span class="ps-table__price">$89.00</span>
                             </td>
                             <td class="ps-table__status"> <span>In Stock</span>
                             </td>
                             <td class="ps-table__cart"><a class="ps-btn ps-btn--rounded ps-btn--dark" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             <div class="ps-wishlist__share">
                 <label>Share on:</label>
                 <ul class="ps-social ps-social--color">
                     <li><a class="ps-social__link facebook" href="#"><i class="fa fa-facebook"> </i><span class="ps-tooltip">Facebook</span></a></li>
                     <li><a class="ps-social__link twitter" href="#"><i class="fa fa-twitter"></i><span class="ps-tooltip">Twitter</span></a></li>
                     <li><a class="ps-social__link pinterest" href="#"><i class="fa fa-pinterest-p"></i><span class="ps-tooltip">Pinterest</span></a></li>
                     <li class="ps-social__linkedin"><a class="ps-social__link linkedin" href="#"><i class="fa fa-linkedin"></i><span class="ps-tooltip">Linkedin</span></a></li>
                     <li class="ps-social__reddit"><a class="ps-social__link reddit-alien" href="#"><i class="fa fa-reddit-alien"></i><span class="ps-tooltip">Reddit Alien</span></a></li>
                     <li class="ps-social__email"><a class="ps-social__link envelope" href="#"><i class="fa fa-envelope-o"></i><span class="ps-tooltip">Email</span></a></li>
                     <li class="ps-social__whatsapp"><a class="ps-social__link whatsapp" href="#"><i class="fa fa-whatsapp"></i><span class="ps-tooltip">WhatsApp</span></a></li>
                 </ul>
             </div>
         </div>
     </div>
 </div>