<p-toast></p-toast>


<div class="container-fluid">
    <app-page-title title=" SALE INVOICE" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <span [style]="{'display': 'inline-flex'}" class="p-input-icon-left">
                                        <button pButton pRipple [label]="Delete" icon="pi pi-trash"
                                            class="p-button-danger mr-2" (click)="deleteSelectedProducts()"
                                            [disabled]="!selectedItems || !selectedItems.length"></button>&nbsp;
                                        <input class="form-control" pInputText type="text"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="d-flex justify-content-between bd-highlight">
                                <div class="p-2 bd-highlight">

                                </div>

                                <div class="p-2 bd-highlight">
                                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                        (click)="openNew()"></button>
                                </div>
                            </div>

                        </div>
                        <!-- end col-->
                    </div>
                    <div class="table-responsive">
                        <p-table styleClass="table-panel" #dt [value]="items" [rows]="10" [paginator]="true"
                            [globalFilterFields]="['name','country.name','representative.name','status']"
                            responsiveLayout="scroll" [(selection)]="selectedItems" [rowHover]="true" dataKey="SlNo"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [showCurrentPageReport]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th pSortableColumn="SlNo">Sl No.<p-sortIcon field="SlNo"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="InvoiceNo">Invoice No <p-sortIcon field="InvoiceNo">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="InvoiceDate">Invoice Date<p-sortIcon field="InvoiceDate">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Party">Party<p-sortIcon field="Party"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="City">City<p-sortIcon field="City"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="State">State<p-sortIcon field="State"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="ContactNo">Contact No<p-sortIcon field="ContactNo">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Quantity">Quantity<p-sortIcon field="Quantity"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="NetAmount">Net Amount<p-sortIcon field="NetAmount">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="ReceivedAmount">Received Amount <p-sortIcon
                                            field="ReceivedAmount"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="DueAmount">Due Amount<p-sortIcon field="DueAmount">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Days">Days<p-sortIcon field="Days"></p-sortIcon>
                                            
                                    </th>
                                    <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus">
                                        </p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                    </td>
                                    <td>{{product.SlNo}}</td>
                                    <td>{{product.InvoiceNo}}</td>
                                    <td>{{product.InvoiceDate}}</td>
                                    <td>{{product.Party}}</td>
                                    <td>{{product.City}}</td>
                                    <td>{{product.ZipCode}}</td>
                                    <td>{{product.City}}</td>
                                    <td>{{product.State}}</td>
                                    <td>{{product.ContactNo}}</td>
                                    <td>{{product.Quantity}}</td>
                                    <td>{{product.NetAmount}}</td>
                                    <td>{{product.ReceivedAmount}}</td>
                                    <td>{{product.DueAmount}}</td>
                                    <td>{{product.Days}}</td>


                                    <td><span [class]="'product-badge status-instock'">Active</span></td>
                                    <td>
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="editProduct(product)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                            class="p-button-rounded p-button-warning"
                                            (click)="deleteProduct(product)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="flex align-items-center justify-content-between">
                                    In total there are {{items ? items.length : 0 }} products.
                                </div>
                            </ng-template>
                        </p-table>
                    </div>


                    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

                </div>