<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="TBL_PARTY_REGISTRATION_MASTER" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Basic Information</h4>
          <p class="card-title-desc">Fill all information below</p>

          <form [formGroup]="formData" (ngSubmit)="validSubmit()">
            <div class="row">
              <div class="col-sm-6">
              <div class='mb-3'>
<label for='ID'>ID</label>
<input uppercase class='form-control' placeholder='Enter ID' type='text' name='ID' autocomplete='off'  formControlName='ID' [ngClass]=
"{ 'is-invalid': submit && form.ID.errors}"/><div *ngIf='submit && form.ID.errors' class='invalid-feedback'>
 <span *ngIf='form.ID.errors.required'>ID Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='NAME'>NAME</label>
<input uppercase class='form-control' placeholder='Enter NAME' type='text' name='NAME' autocomplete='off'  formControlName='NAME' [ngClass]=
"{ 'is-invalid': submit && form.NAME.errors}"/><div *ngIf='submit && form.NAME.errors' class='invalid-feedback'>
 <span *ngIf='form.NAME.errors.required'>NAME Name is required.</span>
 </div>
 </div>

              </div>

              <div class="col-sm-6">
                 <div class='mb-3'>
<label for='CODE'>CODE</label>
<input uppercase class='form-control' placeholder='Enter CODE' type='text' name='CODE' autocomplete='off'  formControlName='CODE' [ngClass]=
"{ 'is-invalid': submit && form.CODE.errors}"/><div *ngIf='submit && form.CODE.errors' class='invalid-feedback'>
 <span *ngIf='form.CODE.errors.required'>CODE Name is required.</span>
 </div>
 </div>
<div class='mb-3'>
<label for='REMARKS'>REMARKS</label>
<input uppercase class='form-control' placeholder='Enter REMARKS' type='text' name='REMARKS' autocomplete='off'  formControlName='REMARKS' [ngClass]=
"{ 'is-invalid': submit && form.REMARKS.errors}"/><div *ngIf='submit && form.REMARKS.errors' class='invalid-feedback'>
 <span *ngIf='form.REMARKS.errors.required'>REMARKS Name is required.</span>
 </div>
 </div>

              </div>
            </div>
           
            <div class="d-flex flex-wrap gap-2 mt-2">
              <button type="submit" class="btn btn-primary"   >Save Changes</button>
              <button type="submit" class="btn btn-secondary">Cancel</button>
            </div>
          </form>
        </div>
      </div>

      
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->