
     <section class="ps-block--grid">
         <div class="container">
             <div class="ps-block__row">
                 <div class="ps-block__content">
                     <div class="ps-block__line"></div>
                     <h3 class="ps-block__title">2022 <br/>Collection <br/>now on sale!</h3>
                     <p class="ps-block__desc">Check now!</p>
                     <div class="ps-block__link"><a class="ps-btn ps-btn--rounded ps-btn--danger" href="shop-list.html">Shop now</a></div>
                 </div>
                 <div class="ps-block__thumbnail"><img src="assets/img/promotion/grid-1.jpg" alt="" /></div>
             </div>
         </div>
         <div class="ps-block__center"><img src="assets/img/promotion/grid-2.jpg" alt="" /></div>
     </section>
     <div class="ps-home__category">
         <div class="container">
             <div class="row">
                 <div class="col-12 col-md-6 ps-home__left">
                     <div class="ps-category--item">
                         <div class="ps-category__thumbnail"> <img src="assets/img/promotion/banner-4.jpg" alt="" /></div>
                         <div class="ps-category__content">
                             <p class="ps-category__type">Bestsellers</p>
                             <h3 class="ps-category__name">Leaf Collection</h3>
                             <div class="ps-category__link"> <a href="shop-list.html"><span>Shop Now</span><img src="assets/img/icon/arrow-long-right.svg" alt="" /></a></div>
                         </div>
                     </div>
                     <div class="ps-category--item">
                         <div class="ps-category__thumbnail"> <img src="assets/img/promotion/banner-7.jpg" alt="" /></div>
                         <div class="ps-category__content">
                             <h3 class="ps-category__name">Old style in a new edition</h3>
                             <div class="ps-category__link"> <a href="shop-list.html"><span>Shop Now</span><img src="assets/img/icon/arrow-long-right.svg" alt="" /></a></div>
                         </div>
                     </div>
                 </div>
                 <div class="col-12 col-md-6 ps-home__right">
                     <div class="ps-category--item">
                         <div class="ps-category__thumbnail"> <img src="assets/img/promotion/banner-9.jpg" alt="" /></div>
                         <div class="ps-category__content">
                             <p class="ps-category__type">New Arrival</p>
                             <h3 class="ps-category__name">Glamour</h3>
                             <div class="ps-category__link"> <a href="shop-list.html"><span>Shop Now</span><img src="assets/img/icon/arrow-long-right.svg" alt="" /></a></div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <section class="ps-section--default ps-product--featured">
         <div class="container">
             <h3 class="ps-section__title">Featured products</h3>
             <div class="ps-section__content">
                 <div class="ps-product__grid">
                     <div class="ps-product ps-product--standard">
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/5.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/44.jpg" alt="alt" />
                                 </figure>
                             </a>
                             <div class="ps-product__actions">
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                             </div>
                             <div class="ps-product__badge">
                                 <div class="ps-badge ps-badge--sale">-70%</div>
                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                         </div>
                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Short T-shirt with sequins.</a></h5>
                             <div class="ps-product__meta"><span class="ps-product__price sale">$200.00</span><span class="ps-product__del">$195.00</span>
                             </div>
                             <div class="ps-product__footer">
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured1Blackundefined" name="productOption" value="Black" />
                                     <label class="custom-control-label" for="featured1Blackundefined" style="--bg-color: #191919"><span style="--bg-color: #191919"></span></label>
                                 </div>
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured1Grayundefined" name="productOption" value="Gray" />
                                     <label class="custom-control-label" for="featured1Grayundefined" style="--bg-color: #767676"><span style="--bg-color: #767676"></span></label>
                                 </div>
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured1Redundefined" name="productOption" value="Red" />
                                     <label class="custom-control-label" for="featured1Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="ps-product ps-product--standard">
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/7.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/16.jpg" alt="alt" />
                                 </figure>
                             </a>
                             <div class="ps-product__actions">
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                             </div>
                             <div class="ps-product__badge">
                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                         </div>
                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Dark blue classic long sleeves shirt</a></h5>
                             <div class="ps-product__meta"><span class="ps-product__price">$89.00</span>
                             </div>
                         </div>
                     </div>
                     <div class="ps-product ps-product--standard">
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/12.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/44.jpg" alt="alt" />
                                 </figure>
                             </a>
                             <div class="ps-product__actions">
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                             </div>
                             <div class="ps-product__badge">
                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                         </div>
                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Women's leather set</a></h5>
                             <div class="ps-product__meta"><span class="ps-product__price">$45.00 - $89.00</span>
                             </div>
                         </div>
                     </div>
                     <div class="ps-product ps-product--standard">
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/27.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/32.jpg" alt="alt" />
                                 </figure>
                             </a>
                             <div class="ps-product__actions">
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                             </div>
                             <div class="ps-product__badge">
                                 <div class="ps-badge ps-badge--new">New</div>
                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                         </div>
                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">White short checkered T-shirt</a></h5>
                             <div class="ps-product__meta"><span class="ps-product__price sale">$200.00</span><span class="ps-product__del">$195.00</span>
                             </div>
                             <div class="ps-product__footer">
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured2Grayundefined" name="productOption" value="Gray" />
                                     <label class="custom-control-label" for="featured2Grayundefined" style="--bg-color: #767676"><span style="--bg-color: #767676"></span></label>
                                 </div>
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured2Redundefined" name="productOption" value="Red" />
                                     <label class="custom-control-label" for="featured2Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="ps-product ps-product--standard">
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/16.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/49.jpg" alt="alt" />
                                 </figure>
                             </a>
                             <div class="ps-product__actions">
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                             </div>
                             <div class="ps-product__badge">
                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                         </div>
                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Blue classic long sleeves shirt</a></h5>
                             <div class="ps-product__meta"><span class="ps-product__price">$89.00</span>
                             </div>
                         </div>
                     </div>
                     <div class="ps-product ps-product--standard">
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/1.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/12.jpg" alt="alt" />
                                 </figure>
                             </a>
                             <div class="ps-product__actions">
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                             </div>
                             <div class="ps-product__badge">
                                 <div class="ps-badge ps-badge--sale">-70%</div>
                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                         </div>
                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Short T-shirt with sequins.</a></h5>
                             <div class="ps-product__meta"><span class="ps-product__price sale">$38.39</span><span class="ps-product__del">$53.99</span>
                             </div>
                             <div class="ps-product__footer">
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured3Redundefined" name="productOption" value="Red" />
                                     <label class="custom-control-label" for="featured3Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                 </div>
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured3Blackundefined" name="productOption" value="Black" />
                                     <label class="custom-control-label" for="featured3Blackundefined" style="--bg-color: #191919"><span style="--bg-color: #191919"></span></label>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="ps-product ps-product--standard">
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/11.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/40.jpg" alt="alt" />
                                 </figure>
                             </a>
                             <div class="ps-product__actions">
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                             </div>
                             <div class="ps-product__badge">
                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                         </div>
                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Travel handle totte bags</a></h5>
                             <div class="ps-product__meta"><span class="ps-product__price">$185.00</span>
                             </div>
                         </div>
                     </div>
                     <div class="ps-product ps-product--standard">
                         <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                 <figure><img class="ps-product__image-default" src="assets/img/products/2.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/38.jpg" alt="alt" />
                                 </figure>
                             </a>
                             <div class="ps-product__actions">
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                 <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                 <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                             </div>
                             <div class="ps-product__badge">
                                 <div class="ps-badge ps-badge--sale">-70%</div>
                             </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                         </div>
                         <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                         <div class="ps-product__content">
                             <h5 class="ps-product__title"><a href="product-1.html">Short T-shirt with sequins.</a></h5>
                             <div class="ps-product__meta"><span class="ps-product__price sale">$200.00</span><span class="ps-product__del">$195.00</span>
                             </div>
                             <div class="ps-product__footer">
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured4Blackundefined" name="productOption" value="Black" />
                                     <label class="custom-control-label" for="featured4Blackundefined" style="--bg-color: #191919"><span style="--bg-color: #191919"></span></label>
                                 </div>
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured4Grayundefined" name="productOption" value="Gray" />
                                     <label class="custom-control-label" for="featured4Grayundefined" style="--bg-color: #767676"><span style="--bg-color: #767676"></span></label>
                                 </div>
                                 <div class="custom-control custom-checkbox">
                                     <input class="custom-control-input" type="radio" id="featured4Redundefined" name="productOption" value="Red" />
                                     <label class="custom-control-label" for="featured4Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="ps-section__link"><a class="ps-btn ps-btn--rounded ps-btn--danger" href="shop-list.html">Show all </a></div>
             </div>
         </div>
     </section>
     <section class="ps-block--grid">
         <div class="container">
             <div class="ps-block__row row-reverse">
                 <div class="ps-block__content">
                     <div class="ps-block__line"></div>
                     <h3 class="ps-block__title">The best <br/>accessories <br/>of 2020!</h3>
                     <p class="ps-block__desc">Now at a special price!</p>
                     <div class="ps-block__link"><a class="ps-btn ps-btn--rounded ps-btn--danger" href="shop-list.html">Shop now</a></div>
                 </div>
                 <div class="ps-block__thumbnail"><img src="assets/img/promotion/banner-10.jpg" alt="" /></div>
             </div>
         </div>
         <div class="ps-block__center"><img src="assets/img/promotion/banner-11.jpg" alt="" /></div>
     </section>
     <section class="ps-section--default">
         <div class="container">
             <h3 class="ps-section__title">Top 3 this week!</h3>
             <div class="ps-section__content">
                 <div class="row">
                     <div class="col-6 col-md-4">
                         <div class="ps-product ps-product--standard">
                             <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                     <figure><img class="ps-product__image-default" src="assets/img/products/32.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/5.jpg" alt="alt" />
                                     </figure>
                                 </a>
                                 <div class="ps-product__actions">
                                     <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                     <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                     <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                 </div>
                                 <div class="ps-product__badge">
                                     <div class="ps-badge ps-badge--sale">-70%</div>
                                 </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                             </div>
                             <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                             <div class="ps-product__content">
                                 <h5 class="ps-product__title"><a href="product-1.html">Short T-shirt with sequins.</a></h5>
                                 <div class="ps-product__meta"><span class="ps-product__price sale">$38.39</span><span class="ps-product__del">$53.99</span>
                                 </div>
                                 <div class="ps-product__footer">
                                     <div class="custom-control custom-checkbox">
                                         <input class="custom-control-input" type="radio" id="top1Redundefined" name="productOption" value="Red" />
                                         <label class="custom-control-label" for="top1Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                     </div>
                                     <div class="custom-control custom-checkbox">
                                         <input class="custom-control-input" type="radio" id="top1Grayundefined" name="productOption" value="Gray" />
                                         <label class="custom-control-label" for="top1Grayundefined" style="--bg-color: #767676"><span style="--bg-color: #767676"></span></label>
                                     </div>
                                     <div class="custom-control custom-checkbox">
                                         <input class="custom-control-input" type="radio" id="top1Blackundefined" name="productOption" value="Black" />
                                         <label class="custom-control-label" for="top1Blackundefined" style="--bg-color: #191919"><span style="--bg-color: #191919"></span></label>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-6 col-md-4">
                         <div class="ps-product ps-product--standard">
                             <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                     <figure><img class="ps-product__image-default" src="assets/img/products/26.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/44.jpg" alt="alt" />
                                     </figure>
                                 </a>
                                 <div class="ps-product__actions">
                                     <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                     <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                     <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                 </div>
                                 <div class="ps-product__badge">
                                     <div class="ps-badge ps-badge--sale">-70%</div>
                                 </div><a class="ps-btn ps-btn--dark ps-product__cart" href="#" data-toggle="modal" data-target="#popupAddcart">Add to cart</a>
                             </div>
                             <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                             <div class="ps-product__content">
                                 <h5 class="ps-product__title"><a href="product-1.html">White short checkered T-shirt & skirt - mo...</a></h5>
                                 <div class="ps-product__meta"><span class="ps-product__price sale">$38.39</span><span class="ps-product__del">$53.99</span>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-6 col-md-4">
                         <div class="ps-product ps-product--standard">
                             <div class="ps-product__thumbnail"><a class="ps-product__image" href="product-1.html">
                                     <figure><img class="ps-product__image-default" src="assets/img/products/17.jpg" alt="alt" /><img class="ps-product__image-back" src="img/products/12.jpg" alt="alt" />
                                     </figure>
                                 </a>
                                 <div class="ps-product__actions">
                                     <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></div>
                                     <div class="ps-product__item rotate" data-toggle="tooltip" data-placement="left" title="Add to compare"><a href="#" data-toggle="modal" data-target="#popupCompare"><i class="fa fa-align-left"></i></a></div>
                                     <div class="ps-product__item" data-toggle="tooltip" data-placement="left" title="Quick view"><a href="#" data-toggle="modal" data-target="#popupQuickview"><i class="fa fa-search"></i></a></div>
                                 </div>
                                 <div class="ps-product__badge">
                                     <div class="ps-badge ps-badge--sale">-20%</div>
                                 </div><a class="ps-btn ps-btn--dark ps-product__cart" href="product-1.html">Select options</a>
                             </div>
                             <div class="ps-product__mobile"><a class="ps-product__item" href="#" data-toggle="modal" data-target="#popupAddcart"><img src="img/icon/cart.svg" alt="" /></a><a class="ps-product__item" href="wishlist.html"><i class="fa fa-heart-o"></i></a><a class="ps-product__item rotate" href="compare.html"><i class="fa fa-align-left"></i></a></div>
                             <div class="ps-product__content">
                                 <h5 class="ps-product__title"><a href="product-1.html">Black leather skirt</a></h5>
                                 <div class="ps-product__meta"><span class="ps-product__price sale">$38.39</span><span class="ps-product__del">$53.99</span>
                                 </div>
                                 <div class="ps-product__footer">
                                     <div class="custom-control custom-checkbox">
                                         <input class="custom-control-input" type="radio" id="top3Redundefined" name="productOption" value="Red" />
                                         <label class="custom-control-label" for="top3Redundefined" style="--bg-color: #D9121F"><span style="--bg-color: #D9121F"></span></label>
                                     </div>
                                     <div class="custom-control custom-checkbox">
                                         <input class="custom-control-input" type="radio" id="top3Blackundefined" name="productOption" value="Black" />
                                         <label class="custom-control-label" for="top3Blackundefined" style="--bg-color: #191919"><span style="--bg-color: #191919"></span></label>
                                     </div>
                                     <div class="custom-control custom-checkbox">
                                         <input class="custom-control-input" type="radio" id="top3Grayundefined" name="productOption" value="Gray" />
                                         <label class="custom-control-label" for="top3Grayundefined" style="--bg-color: #767676"><span style="--bg-color: #767676"></span></label>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section>
  
