<div class="container-fluid">

  <app-page-title title="MASTER" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input uppercase type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" (ngModelChange)='searchChanged.next($event)'/>
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end button-items">
                <button  type="button" *ngIf="IsChecked" class="btn btn-danger" (click)="confirm(SelectedId)">DELETE RENT </button>
                <button  type="button" *ngIf="IsChecked" class="btn btn-warning" (click)="edit(SelectedId)" >EDIT RENT</button>
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">
                 ADD NEW RENT
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <thead class="table-light">
                <tr>
                  <th style="width: 20px;">
                    <div class="form-check font-size-16 align-middle">
                      <input uppercase class="form-check-input" type="checkbox" id="transactionCheck01">
                      <label class="form-check-label" for="transactionCheck01"></label>
                    </div>
                  </th> 
                  <th> BRANCH_NAME</th>
<th> CODE</th>
<!-- <th> BRANCH_CODE</th> -->
<th> NAME</th>
<!-- <th> TYPE</th>
<th> AREA</th> -->

<th> LANDLORD_NAME</th>
<th> ADDRESS</th>
<th> CITY</th>
<th> PIN</th>
<th> RENT</th>
<th> OCCUPIED_FROM</th>
<th> VACATE_DATE</th>
<!-- <th> PRV_AMOUNT</th> -->
<!-- <th> FROM_DATE</th> -->
<!-- <th> TO_DATE</th> -->

                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tableData  | filter:term ;let i = index;">
                  <td>
                    <div class="form-check font-size-16">
                      <input uppercase class="form-check-input" type="checkbox" (change)="updateCheckBoxVal(item, $event.target);" [checked]="item.IsChecked"  id="transactionCheck{{item.index}}">
                      <label class="form-check-label" for="transactionCheck{{item.index}}"></label>
                    </div>
                  </td>
                  <!-- <td>{{item.id}}</td> -->
                  <td>{{item.brancH_NAME}}</td>
<td>{{item.code}}</td>
<!-- <td>{{item.brancH_CODE}}</td> -->

<!-- <td>{{item.type}}</td>
<td>{{item.area}}</td> -->
<td>{{item.name}}</td>
<td>{{item.landlorD_NAME}}</td>
<td>{{item.address}}</td>
<td>{{item.city}}</td>
<td>{{item.pin}}</td>
<td>{{item.rent}}</td>
<td>{{item.occpuieD_FROM}}</td>
<td>{{item.vacatE_DATE}}</td>
<!-- <td>{{item.prV_AMOUNT}}</td>
<td>{{item.froM_DATE}}</td>
<td>{{item.tO_DATE}}</td> -->


                  <td>
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                        ngbDropdownToggle aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <li><a href="javascript: void(0);" class="dropdown-item" (click)="edit(item.primary_Id)"><i
                              class="fas fa-pencil-alt text-success me-1"></i>
                            Edit</a></li>
                        <li><a href="javascript: void(0);" (click)="confirm(item.id)" class="dropdown-item"><i
                              class="fas fa-trash-alt text-danger me-1"></i>
                            Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{startIndex}} to
                {{endIndex}} of {{totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async"  [maxSize]="7"[(page)]="page" [pageSize]="pageSize"
                  (pageChange)="loadPage($event)">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add TBL_RENT_MASTER</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveData()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class='mb-3'>
<label class='control-label'>ID</label>
<input uppercase class='form-control' placeholder='Enter ID' type='text' name='ID' autocomplete='off'  formControlName='ID' [ngClass]=
"{ 'is-invalid': submitted && form.ID.errors}"/><div *ngIf='submitted && form.ID.errors' class='invalid-feedback'> <span *ngIf='form.ID.errors.required'>ID is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>CODE</label>
<input uppercase class='form-control' placeholder='Enter CODE' type='text' name='CODE' autocomplete='off'  formControlName='CODE' [ngClass]=
"{ 'is-invalid': submitted && form.CODE.errors}"/><div *ngIf='submitted && form.CODE.errors' class='invalid-feedback'> <span *ngIf='form.CODE.errors.required'>CODE is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>BRANCH_CODE</label>
<input uppercase class='form-control' placeholder='Enter BRANCH_CODE' type='text' name='BRANCH_CODE' autocomplete='off'  formControlName='BRANCH_CODE' [ngClass]=
"{ 'is-invalid': submitted && form.BRANCH_CODE.errors}"/><div *ngIf='submitted && form.BRANCH_CODE.errors' class='invalid-feedback'> <span *ngIf='form.BRANCH_CODE.errors.required'>BRANCH_CODE is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>BRANCH_NAME</label>
<input uppercase class='form-control' placeholder='Enter BRANCH_NAME' type='text' name='BRANCH_NAME' autocomplete='off'  formControlName='BRANCH_NAME' [ngClass]=
"{ 'is-invalid': submitted && form.BRANCH_NAME.errors}"/><div *ngIf='submitted && form.BRANCH_NAME.errors' class='invalid-feedback'> <span *ngIf='form.BRANCH_NAME.errors.required'>BRANCH_NAME is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>TYPE</label>
<input uppercase class='form-control' placeholder='Enter TYPE' type='text' name='TYPE' autocomplete='off'  formControlName='TYPE' [ngClass]=
"{ 'is-invalid': submitted && form.TYPE.errors}"/><div *ngIf='submitted && form.TYPE.errors' class='invalid-feedback'> <span *ngIf='form.TYPE.errors.required'>TYPE is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>AREA</label>
<input uppercase class='form-control' placeholder='Enter AREA' type='text' name='AREA' autocomplete='off'  formControlName='AREA' [ngClass]=
"{ 'is-invalid': submitted && form.AREA.errors}"/><div *ngIf='submitted && form.AREA.errors' class='invalid-feedback'> <span *ngIf='form.AREA.errors.required'>AREA is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>NAME</label>
<input uppercase class='form-control' placeholder='Enter NAME' type='text' name='NAME' autocomplete='off'  formControlName='NAME' [ngClass]=
"{ 'is-invalid': submitted && form.NAME.errors}"/><div *ngIf='submitted && form.NAME.errors' class='invalid-feedback'> <span *ngIf='form.NAME.errors.required'>NAME is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>LANDLORD_NAME</label>
<input uppercase class='form-control' placeholder='Enter LANDLORD_NAME' type='text' name='LANDLORD_NAME' autocomplete='off'  formControlName='LANDLORD_NAME' [ngClass]=
"{ 'is-invalid': submitted && form.LANDLORD_NAME.errors}"/><div *ngIf='submitted && form.LANDLORD_NAME.errors' class='invalid-feedback'> <span *ngIf='form.LANDLORD_NAME.errors.required'>LANDLORD_NAME is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>ADDRESS</label>
<input uppercase class='form-control' placeholder='Enter ADDRESS' type='text' name='ADDRESS' autocomplete='off'  formControlName='ADDRESS' [ngClass]=
"{ 'is-invalid': submitted && form.ADDRESS.errors}"/><div *ngIf='submitted && form.ADDRESS.errors' class='invalid-feedback'> <span *ngIf='form.ADDRESS.errors.required'>ADDRESS is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>CITY</label>
<input uppercase class='form-control' placeholder='Enter CITY' type='text' name='CITY' autocomplete='off'  formControlName='CITY' [ngClass]=
"{ 'is-invalid': submitted && form.CITY.errors}"/><div *ngIf='submitted && form.CITY.errors' class='invalid-feedback'> <span *ngIf='form.CITY.errors.required'>CITY is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>PIN</label>
<input uppercase class='form-control' placeholder='Enter PIN' type='text' name='PIN' autocomplete='off'  formControlName='PIN' [ngClass]=
"{ 'is-invalid': submitted && form.PIN.errors}"/><div *ngIf='submitted && form.PIN.errors' class='invalid-feedback'> <span *ngIf='form.PIN.errors.required'>PIN is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>RENT</label>
<input uppercase class='form-control' placeholder='Enter RENT' type='text' name='RENT' autocomplete='off'  formControlName='RENT' [ngClass]=
"{ 'is-invalid': submitted && form.RENT.errors}"/><div *ngIf='submitted && form.RENT.errors' class='invalid-feedback'> <span *ngIf='form.RENT.errors.required'>RENT is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>OCCUPIED_FROM</label>
<input uppercase class='form-control' placeholder='Enter OCCUPIED_FROM' type='text' name='OCCUPIED_FROM' autocomplete='off'  formControlName='OCCUPIED_FROM' [ngClass]=
"{ 'is-invalid': submitted && form.OCCUPIED_FROM.errors}"/><div *ngIf='submitted && form.OCCUPIED_FROM.errors' class='invalid-feedback'> <span *ngIf='form.OCCUPIED_FROM.errors.required'>OCCUPIED_FROM is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>VACATE_DATE</label>
<input uppercase class='form-control' placeholder='Enter VACATE_DATE' type='text' name='VACATE_DATE' autocomplete='off'  formControlName='VACATE_DATE' [ngClass]=
"{ 'is-invalid': submitted && form.VACATE_DATE.errors}"/><div *ngIf='submitted && form.VACATE_DATE.errors' class='invalid-feedback'> <span *ngIf='form.VACATE_DATE.errors.required'>VACATE_DATE is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>PRV_AMOUNT</label>
<input uppercase class='form-control' placeholder='Enter PRV_AMOUNT' type='text' name='PRV_AMOUNT' autocomplete='off'  formControlName='PRV_AMOUNT' [ngClass]=
"{ 'is-invalid': submitted && form.PRV_AMOUNT.errors}"/><div *ngIf='submitted && form.PRV_AMOUNT.errors' class='invalid-feedback'> <span *ngIf='form.PRV_AMOUNT.errors.required'>PRV_AMOUNT is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>FROM_DATE</label>
<input uppercase class='form-control' placeholder='Enter FROM_DATE' type='text' name='FROM_DATE' autocomplete='off'  formControlName='FROM_DATE' [ngClass]=
"{ 'is-invalid': submitted && form.FROM_DATE.errors}"/><div *ngIf='submitted && form.FROM_DATE.errors' class='invalid-feedback'> <span *ngIf='form.FROM_DATE.errors.required'>FROM_DATE is required.</span> </div>
</div>
<div class='mb-3'>
<label class='control-label'>TO_DATE</label>
<input uppercase class='form-control' placeholder='Enter TO_DATE' type='text' name='TO_DATE' autocomplete='off'  formControlName='TO_DATE' [ngClass]=
"{ 'is-invalid': submitted && form.TO_DATE.errors}"/><div *ngIf='submitted && form.TO_DATE.errors' class='invalid-feedback'> <span *ngIf='form.TO_DATE.errors.required'>TO_DATE is required.</span> </div>
</div>

        </div>
      </div>
      <button type="submit" class="btn btn-success" id="btn-save-event">
        Save
      </button>
    </form>
  </div>
</ng-template>