<div class="ps-contact">
     <div class="container">
         <ul class="ps-breadcrumb">
             <li class="ps-breadcrumb__item"><a href="index.html">Home</a></li>
             <li class="ps-breadcrumb__item"><a class="active" aria-current="page" href="#">Contact us</a></li>
         </ul>
         <div class="ps-contact__content">
             <div class="ps-contact__company">
                 <h2 class="ps-contact__title-1">Looking for our local store?</h2>
                 <p class="ps-contact__address">Click on locatoin below to set the road on Google Map</p>
                 <div class="ps-contact__grid">
                     <div class="ps-contact__item">
                         <h6>Illinois</h6>
                         <p class="ps-contact__address">2972 Westheimer <br/>Rd. Santa Ana, <br/>Illinois 85486 </p>
                         <p class="ps-contact__work">Monday - Friday: 9:00-20:00 <br/>Saturady: 11:00 - 15:00</p><a class="ps-contact__phone" href="tel:(+800)1234567890">0020 500 - 0900 - 000</a><a class="ps-contact__email" href="https://nouthemes.net/cdn-cgi/l/email-protection#670e0901082704080a1706091e4904080a"><span class="__cf_email__" data-cfemail="8de4e3ebe2cdeee2e0fdece3f4a3eee2e0">[email&#160;protected]</span></a>
                     </div>
                     <div class="ps-contact__item">
                         <h6>Delaware</h6>
                         <p class="ps-contact__address">6391 Elgin <br/>St. Celina, <br/>Delaware 10299</p>
                         <p class="ps-contact__work">Monday - Friday: 9:00-20:00 <br/>Saturady: 11:00 - 15:00</p><a class="ps-contact__phone" href="tel:(+800)1234567890">(406) 555-0120</a><a class="ps-contact__email" href="https://nouthemes.net/cdn-cgi/l/email-protection#d3babdb5bc93b0bcbea3b2bdaafdb0bcbe"><span class="__cf_email__" data-cfemail="660f0800092605090b1607081f4805090b">[email&#160;protected]</span></a>
                     </div>
                     <div class="ps-contact__item">
                         <h6>Hawaii</h6>
                         <p class="ps-contact__address">1901 Thornridge <br/>Cir. Shiloh, <br/>Hawaii 81063</p>
                         <p class="ps-contact__work">Monday - Friday: 9:00-20:00 <br/>Saturady: 11:00 - 15:00</p><a class="ps-contact__phone" href="tel:(+800)1234567890">(480) 555-0103</a><a class="ps-contact__email" href="https://nouthemes.net/cdn-cgi/l/email-protection#97fef9f1f8d7f4f8fae7f6f9eeb9f4f8fa"><span class="__cf_email__" data-cfemail="8ce5e2eae3ccefe3e1fcede2f5a2efe3e1">[email&#160;protected]</span></a>
                     </div>
                     <div class="ps-contact__item">
                         <h6>New Mexico</h6>
                         <p class="ps-contact__address">4140 Parker <br/>Rd. Allentown, <br/>New Mexico 31134</p>
                         <p class="ps-contact__work">Monday - Friday: 9:00-20:00 <br/>Saturady: 11:00 - 15:00</p><a class="ps-contact__phone" href="tel:(+800)1234567890">(+800) 1234 5678 90</a><a class="ps-contact__email" href="https://nouthemes.net/cdn-cgi/l/email-protection#fc95929a93bc9f93918c9d9285d29f9391"><span class="__cf_email__" data-cfemail="e0898e868fa0838f8d90818e99ce838f8d">[email&#160;protected]</span></a>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-12 col-md-6">
                     <h2 class="ps-contact__title-2">Headquater</h2>
                     <p class="ps-contact__text">We are at your disposal 7 days a week!</p>
                     <p class="ps-contact__address">2972 Westheimer <br>Rd. Santa Ana, <br>Illinois 85486 </p>
                     <div class="ps-contact__info"> <a class="ps-contact__phone" href="tel:(+800)1234567890">(+800) 1234 5678 90</a><a class="ps-contact__email" href="https://nouthemes.net/cdn-cgi/l/email-protection#751c1b131a35161a1805141b0c5b161a18"><span class="__cf_email__" data-cfemail="3f565159507f5c50524f5e5146115c5052">[email&#160;protected]</span></a></div>
                     <ul class="ps-social">
                         <li><a class="ps-social__link facebook" href="#"><i class="fa fa-facebook"> </i><span class="ps-tooltip">Facebook</span></a></li>
                         <li><a class="ps-social__link instagram" href="#"><i class="fa fa-instagram"></i><span class="ps-tooltip">Instagram</span></a></li>
                         <li><a class="ps-social__link youtube" href="#"><i class="fa fa-youtube-play"></i><span class="ps-tooltip">Youtube</span></a></li>
                         <li><a class="ps-social__link pinterest" href="#"><i class="fa fa-pinterest-p"></i><span class="ps-tooltip">Pinterest</span></a></li>
                         <li><a class="ps-social__link linkedin" href="#"><i class="fa fa-linkedin"></i><span class="ps-tooltip">Linkedin</span></a></li>
                     </ul>
                 </div>
                 <div class="col-12 col-md-6"><img src="assets/img/contact-2.jpg" alt=""></div>
             </div>
         </div>
         <form action="https://nouthemes.net/html/yobazar/do_action" method="post">
             <div class="ps-form--contact">
                 <h2 class="ps-form__title">Fill up the form if you have any question</h2>
                 <div class="row">
                     <div class="col-12 col-md-4">
                         <div class="ps-form__group">
                             <input class="form-control ps-form__input" type="text" placeholder="Name and Surname">
                         </div>
                     </div>
                     <div class="col-12 col-md-4">
                         <div class="ps-form__group">
                             <input class="form-control ps-form__input" type="text" placeholder="Phone">
                         </div>
                     </div>
                     <div class="col-12 col-md-4">
                         <div class="ps-form__group">
                             <input class="form-control ps-form__input" type="email" placeholder="Your E-mail">
                         </div>
                     </div>
                     <div class="col-12">
                         <div class="ps-form__group">
                             <textarea class="form-control ps-form__textarea" rows="1" placeholder="Message"></textarea>
                         </div>
                     </div>
                 </div>
                 <div class="ps-form__submit">
                     <button class="ps-btn ps-btn--rounded">Send message</button>
                 </div>
             </div>
         </form>
     </div>
     <div class="ps-contact__map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.822845645748!2d-97.1301607845029!3d32.770434891627616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e7dcf27b929d9%3A0xc63407d6f47753b9!2s1487%20Rocky%20Canyon%20Rd%2C%20Arlington%2C%20TX%2076012%2C%20USA!5e0!3m2!1sen!2s!4v1616124426616!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
 </div>
