.pad-100{
     padding-bottom: 100px;
 }
 
 .pnumber-85{
     height: 38px !important;
     width: 85px !important;
 }
 input { 
    text-transform: uppercase;
}
textarea { 
    text-transform: uppercase;
}