<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title=" LEDGER MASTER" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <!-- <h4 class="card-title">Basic Information</h4>
             <p class="card-title-desc">Fill all information below</p> -->

          <form [formGroup]="formData" (ngSubmit)="validSubmit()">
            <div class="row">

              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Ledger Description :</span>
                  </div>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" type="text" tabIndex="1" class="form-control" id="validationTooltipUsername"
                  formControlName="LedgerDesc" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                  [ngClass]="{'is-invalid': submit && form.LedgerDesc.errors}"></textarea>

                  <div *ngIf="submit && form.LedgerDesc.errors" class="invalid-feedback">
                    <span *ngIf="form.LedgerDesc.errors.required">Please enter a LedgerDescription.</span>
                  </div>
                </div>
              </div>
            

              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">A/c Holder Name:</span>
                  </div>
                  <input type="text" tabIndex="6" class="form-control" id="validationTooltipUsername"
                    formControlName="AcHolder" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                    [ngClass]="{'is-invalid': submit && form.AcHolder.errors}">

                  <div *ngIf="submit && form.AcHolder.errors" class="invalid-feedback">
                    <span *ngIf="form.AcHolder.errors.required">Please enter a AcHolder .</span>
                  </div>
                </div>
              </div>
              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Alias :</span>
                  </div>
                  <input #myinput type="text" tabIndex="2" class="form-control" id="validationTooltipUsername"
                    formControlName="Alias" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                    [ngClass]="{'is-invalid': submit && form.Alias.errors}">

                  <div *ngIf="submit && form.Alias.errors" class="invalid-feedback">
                    <span *ngIf="form.Alias.errors.required">Please enter a valid Alias.</span>
                  </div>
                </div>
              </div>
            

              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">A/C Type:</span>
                  </div>
                  <input type="text" tabIndex="7" class="form-control" id="validationTooltipUsername"
                    formControlName="AcType" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                    [ngClass]="{'is-invalid': submit && form.AcType.errors}">

                  <div *ngIf="submit && form.AcType.errors" class="invalid-feedback">
                    <span *ngIf="form.AcType.errors.required">Please enter a AcType .</span>
                  </div>
                </div>
              </div>
              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Group Description:</span>
                  </div>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" type="text" tabIndex="3" class="form-control" id="validationTooltipUsername"
                  formControlName="GroupDesc" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                  [ngClass]="{'is-invalid': submit && form.GroupDesc.errors}"></textarea>

                  <div *ngIf="submit && form.GroupDesc.errors" class="invalid-feedback">
                    <span *ngIf="form.GroupDesc.errors.required">Please enter a GroupDescription .</span>
                  </div>
                </div>
              </div>

              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">A/C No. :</span>
                  </div>
                  <input type="text" tabIndex="7" class="form-control"  inputId="withoutgrouping"
                  tabIndex="8" id="validationTooltipUsername" formControlName="AcNO"
                  [ngClass]="{'is-invalid': submit && form.AcNO.errors}"/>
                  <div *ngIf="submit && form.AcNO.errors" class="invalid-feedback">
                    <span *ngIf="form.AcNO.errors.required">Please enter a AcNO .</span>
                  </div>
                </div>
              </div>

              <div class="mb-1 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Group &nbsp;</span>
                  </div>
                  <p-autoComplete tabIndex="4" class="form-control border-0 p-0" [style]="{'height':'36px','width':'100%'}"
                    formControlName="GroupID" [suggestions]="GroupData" (completeMethod)="_fetchGroup($event)"
                    [dropdown]="true" field="GrpDesc">
                    <ng-template let-employee pTemplate="item">
                      {{employee.GrpDesc}}
                    </ng-template>
                    <ng-template let-employee pTemplate="selectedItem">
                      {{employee.GrpDesc}}
                    </ng-template>
                  </p-autoComplete>

                  <div *ngIf="submit && form.GroupID.errors" class="invalid-feedback">
                    <span *ngIf="form.GroupID.errors.required">Please enter a valid Group.</span>
                  </div>
                </div>
              </div>


              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">IFSC Code :</span>
                  </div>
                  <input type="text" tabIndex="9" class="form-control" id="validationTooltipUsername"
                    formControlName="IfscCode" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                    [ngClass]="{'is-invalid': submit && form.IfscCode.errors}">

                  <div *ngIf="submit && form.IfscCode.errors" class="invalid-feedback">
                    <span *ngIf="form.IfscCode.errors.required">Please enter a IfscCode .</span>
                  </div>
                </div>
              </div>
            
              <div class="mb-1 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Sub Group &nbsp;</span>
                  </div>
                  <p-autoComplete tabIndex="4" class="form-control border-0 p-0" [style]="{'height':'36px','width':'100%'}"
                    formControlName="SubGrpID" [suggestions]="SubGroupData" (completeMethod)="_fetchSubGroup($event)"
                    [dropdown]="true" field="SubGrpDesc">
                    <ng-template let-employee pTemplate="item">
                      {{employee.SubGrpDesc}}
                    </ng-template>
                    <ng-template let-employee pTemplate="selectedItem">
                      {{employee.SubGrpDesc}}
                    </ng-template>
                  </p-autoComplete>

                  <div *ngIf="submit && form.SubGrpID.errors" class="invalid-feedback">
                    <span *ngIf="form.SubGrpID.errors.required">Please enter a valid Group.</span>
                  </div>
                </div>
              </div>
              <!-- <div class="mb-2 col-sm-5 position-relative"></div>

              <div class="mb-1 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">GL Type &nbsp;</span>
                  </div>
                  <p-autoComplete tabIndex="4" class="form-control border-0 p-0" [style]="{'height':'36px','width':'100%'}"
                    formControlName="GlType" [suggestions]="gltypeData" (completeMethod)="_fetchGlType($event)"
                    [dropdown]="true" field="GLType">
                    <ng-template let-employee pTemplate="item">
                      {{employee.GLType}}
                    </ng-template>
                    <ng-template let-employee pTemplate="selectedItem">
                      {{employee.GLType}}
                    </ng-template>
                  </p-autoComplete>

                  <div *ngIf="submit && form.GlType.errors" class="invalid-feedback">
                    <span *ngIf="form.GlType.errors.required">Please enter a valid Group.</span>
                  </div>
                </div>
              </div>
              <div class="mb-2 col-sm-5 position-relative"></div>

              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Ledger Type:</span>
                  </div>
                  <p-autoComplete tabIndex="5" class="form-control border-0 p-0" [style]="{'height':'36px','width':'100%'}"
                  formControlName="LedgerType" [suggestions]="LedgerTypeData" (completeMethod)="_fetchLedgerType($event)"
                  [dropdown]="true" field="GLType">
                  <ng-template let-employee pTemplate="item">
                    {{employee.GLType}}
                  </ng-template>
                  <ng-template let-employee pTemplate="selectedItem">
                    {{employee.GLType}}
                  </ng-template>
                </p-autoComplete>

                  <div *ngIf="submit && form.LedgerType.errors" class="invalid-feedback">
                    <span *ngIf="form.LedgerType.errors.required">Please enter a LedgerType .</span>
                  </div>
                </div>
              </div> -->

             
           

          

             
              <div class="mb-2 col-sm-5 position-relative"></div>
              
              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Address :</span>
                  </div>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" type="text" tabIndex="10" class="form-control" id="validationTooltipUsername"
                     formControlName="Address" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                     [ngClass]="{'is-invalid': submit && form.Address.errors}"></textarea>

                  <div *ngIf="submit && form.Address.errors" class="invalid-feedback">
                    <span *ngIf="form.Address.errors.required">Please enter a valid Address .</span>
                  </div>
                </div>
              </div>

              <div class="mb-2 col-sm-5 position-relative"></div>
              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Zip Code :</span>
                  </div>
                  <p-inputMask [style]="{'height':'37px'}"  mask="999999"  placeholder="" formControlName="ZipCode"tabIndex="11" id="validationTooltipUsername"
                  aria-describedby="validationTooltipUsernamePrepend"
                  [ngClass]="{'is-invalid': submit && form.ZipCode.errors}"></p-inputMask>

                  <div *ngIf="submit && form.ZipCode.errors" class="invalid-feedback">
                    <span *ngIf="form.ZipCode.errors.required">Please enter a ZipCode.</span>
                  </div>
                </div>
              </div>
            
            

              <div class="mb-1 col-sm-5 position-relative "></div>
              <div class="mb-1 col-sm-5 position-relative ">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">City :</span>
                  </div>
                  <p-autoComplete tabIndex="7" (onSelect)="onSelectCity($event)" pInputText class="p-inputtext-sm" tabIndex="5" [style]="{'height':'36px'}"
                  formControlName="City" [suggestions]="cityData" (completeMethod)="_fetchCity($event)"
                  [dropdown]="true" field="CityName">
                  <ng-template let-employee pTemplate="item">
                    {{employee.CityName}}
                  </ng-template>
                  <ng-template let-employee pTemplate="selectedItem">
                    {{employee.CityName}}
                  </ng-template>
                </p-autoComplete>

                  <div *ngIf="submit && form.City.errors" class="invalid-feedback">
                    <span *ngIf="form.City.errors.required">Please enter a City.</span>
                  </div>
                </div>
              </div>

              <div class="mb-2 col-sm-5 position-relative"></div>
              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">State :</span>
                  </div>
                  <input type="text" tabIndex="13" class="form-control" id="validationTooltipUsername"
                    formControlName="State" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                    [ngClass]="{'is-invalid': submit && form.State.errors}">

                  <div *ngIf="submit && form.State.errors" class="invalid-feedback">
                    <span *ngIf="form.State.errors.required">Please enter a valid State.</span>
                  </div>
                </div>
              </div>

              <div class="mb-2 col-sm-5 position-relative"></div>
              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Country :</span>
                  </div>
                  <input type="text" tabIndex="14" class="form-control" id="validationTooltipUsername"
                    formControlName="Country" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                    [ngClass]="{'is-invalid': submit && form.Country.errors}">

                  <div *ngIf="submit && form.Country.errors" class="invalid-feedback">
                    <span *ngIf="form.Country.errors.required">Please enter a valid Country</span>
                  </div>
                </div>
              </div>
            

              <div class="mb-2 col-sm-5 position-relative"></div>
              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Telephone :</span>
                  </div>
                  <p-inputMask [style]="{'height':'37px'}"  mask="9999999999"  placeholder="" formControlName="Telephone"tabIndex="15" id="validationTooltipUsername"
                  aria-describedby="validationTooltipUsernamePrepend"
                  [ngClass]="{'is-invalid': submit && form.Telephone.errors}"></p-inputMask>

                  <div *ngIf="submit && form.Telephone.errors" class="invalid-feedback">
                    <span *ngIf="form.Telephone.errors.required">Please enter a valid Telephone.</span>
                  </div>
                </div>
              </div>
            

              <div class="mb-2 col-sm-5 position-relative"></div>
              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Email :</span>
                  </div>
                  <input type="email" tabIndex="16" class="form-control" id="validationTooltipUsername"
                    formControlName="Email" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                    [ngClass]="{'is-invalid': submit && form.Email.errors}">

                  <div *ngIf="submit && form.Email.errors" class="invalid-feedback">
                    <span *ngIf="form.Email.errors.required">Please enter a valid Email.</span>
                  </div>
                </div>
              </div>
            
              <div class="mb-2 col-sm-5 position-relative"></div>
              <div class="mb-2 col-sm-5 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text " id="validationTooltipUsernamePrepend">Contact Person :</span>
                  </div>
                  <p-inputMask [style]="{'height':'37px'}"  mask="9999999999"  placeholder="" formControlName="ContactPerson"tabIndex="17" id="validationTooltipUsername"
                  aria-describedby="validationTooltipUsernamePrepend"
                  [ngClass]="{'is-invalid': submit && form.ContactPerson.errors}"></p-inputMask>

                  <div *ngIf="submit && form.ContactPerson.errors" class="invalid-feedback">
                    <span *ngIf="form.ContactPerson.errors.required">Please enter a valid Contact Person.</span>
                  </div>
                </div>
              </div>
              
            

              <div class="d-flex flex-wrap gap-2 mt-2">
                <button tabIndex="18"type="submit" class="btn btn-primary">Save Changes</button>
                <button tabIndex="19"type="submit" class="btn btn-secondary">Cancel</button>
               
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>



  </div>
  <!-- end row -->

</div> <!-- container-fluid -->