<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="STOCK TRANSFER" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->



  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">


          <form [formGroup]="formData" (ngSubmit)="validSubmit()">
            <div class="row">

              <div class="mb-2 col-sm-11 position-relative">
                <div class="row">

              <div class="mb-2 col-sm-3 position-relative">
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">Trans No </span>
                      </div>
                      <input type="text" tabIndex="1" class="form-control" id="validationTooltipUsername"
                        formControlName="TransNo" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                        [ngClass]="{'is-invalid': submit && form.TransNo.errors}">

                      <div *ngIf="submit && form.TransNo.errors" class="invalid-feedback">
                        <span *ngIf="form.TransNo.errors.required">Please enter a unique and valid InvoiceNo.</span>
                      </div>
                    </div>
                  </div>

                  <div class="mb-2 col-sm-1 position-relative"> </div>
                  <div class="mb-2 col-sm-5 position-relative">

                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text " id="validationTooltipUsernamePrepend">Party Name</span>
                      </div>

                      <p-dropdown [filter]="true" formControlName="PartyID" placeholder="Select Party"
                        class="p-inputtext-sm" [options]="PartyData" (onChange)="SelectParty($event)"
                        optionLabel="GLName" optionValue="GLCode" appendTo="body"
                        [style]="{'height':'38px','width':'450px','align-items': 'center'}"></p-dropdown>

                      <div *ngIf="submit && form.PartyID.errors" class="invalid-feedback">
                        <span *ngIf="form.PartyID.errors.required">Please enter a valid Party.</span>
                      </div>
                    </div>
                  </div>
                  <div class="mb-2 col-sm-4 position-relative">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text " id="validationTooltipUsernamePrepend">Location From</span>
                      </div>
                    <p-dropdown [filter]="true" [readonly]="id>0?true:false" formControlName="LocationFrom" placeholder="Select Location" class="p-inputtext-sm"
                      [options]="locationData" (onChange)="onLocationChange($event)" optionLabel="Location"
                      optionValue="SlNo" appendTo="body"
                      [style]="{'height':'38px','width':'250px','align-items': 'center'}"></p-dropdown>
                      </div>
                  </div>

                  <div class="mb-2 col-sm-4 position-relative">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text " id="validationTooltipUsernamePrepend">Location To</span>
                      </div>
                    <p-dropdown [filter]="true" [readonly]="id>0?true:false" formControlName="LocationTo" placeholder="Select Location" class="p-inputtext-sm"
                      [options]="locationData" (onChange)="onLocationChange($event)" optionLabel="Location"
                      optionValue="SlNo" appendTo="body"
                      [style]="{'height':'38px','width':'250px','align-items': 'center'}"></p-dropdown>
                      </div>
                  </div>


                  <div class="mb-2 col-sm-3 position-relative"></div>
                  <div class="mb-2 col-sm-3 position-relative">
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">Issues Date</span>
                      </div>
                      <input type="date" tabIndex="2" class="form-control" id="validationTooltipUsername"
                        formControlName="IssuesDt" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                        [ngClass]="{'is-invalid': submit && form.IssuesDt.errors}">

                      <div *ngIf="submit && form.IssuesDt.errors" class="invalid-feedback">
                        <span *ngIf="form.IssuesDt.errors.required">Please enter a unique and valid
                          IssuesDate .</span>
                      </div>
                    </div>
                  </div>

                  <div class="mb-2 col-sm-1 position-relative"></div>
                  <div class="mb-2 col-sm-3 position-relative">
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend">Trans Dt</span>
                      </div>
                      <input type="date" tabIndex="2" class="form-control" id="validationTooltipUsername"
                        formControlName="TransDt" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                        [ngClass]="{'is-invalid': submit && form.TransDt.errors}">

                      <div *ngIf="submit && form.TransDt.errors" class="invalid-feedback">
                        <span *ngIf="form.TransDt.errors.required">Please enter a unique and valid
                          Due Date.</span>
                      </div>
                    </div>
                  </div>


                  <div class="mb-2 col-sm-3 position-relative"></div>

                </div>

              </div>


              <!-- <p-autoComplete [(ngModel)]="selectedProduct"   [style]="{'height':'28px','width':'140px','align-items': 'center'}" (onChange)="onSelect($event,0)" [showEmptyMessage]="true" [suggestions]="productData_distinct" (completeMethod)="_fetchProductFilter($event)" field="ProdCode" [minLength]="1"></p-autoComplete> -->
              <div class="row">

                <div class="col-sm-4 mb-2"></div>
                <div class="col-sm-6 mb-2">
                  <form (ngSubmit)="submitTemplateForm(form.value)">
                    <div class="container">
                      <div class="ng-autocomplete">
                        <ng-autocomplete #ngAutoCompleteStatic [data]="productData_distinct" name="name"
                          [(ngModel)]="selectedProduct" [initialValue]="" [placeholder]="placeholder"
                          [searchKeyword]="keyword" (selected)="selectEvent($event)" notFoundText="Not found"
                          [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStatic let-item>
                          <a [innerHTML]="item.ProdCode"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                        </ng-template>
                      </div>

                    </div>
                  </form>
                </div>
                <div class="col-sm-2 position-relative justify-content-center mb-2">

                </div>

              </div>


              <div class="row">

                <div formArrayName="usersDetails">
                  <p-table [value]="usersDetails.controls" [resizableColumns]="true" [responsive]="true"
                    [autoLayout]="true" [scrollable]="true" styleClass="table-grid p-datatable-gridlines"
                    scrollDirection="both" [(selection)]="selectedUsers">
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width:4%"> </th>
                        <th style="width:12%"> Code</th>

                        <th style="width:8%"> Color</th>
                        <th style="width:8%"> Size</th>
                        <th style="width:6%"> Image</th>
                        <th style="width:10%"> Location</th>
                        <th style="width:7%"> HSN</th>
                        <th style="width:10%"> M.R.P</th>
                        <th style="width:8%"> Discount %</th>
                        <th style="width:7%"> Quantity</th>
                        <th style="width:8%"> Rate</th>
                        <th style="width:8%"> Amount</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-controls let-i="rowIndex">
                      <tr [formGroupName]="i">
                        <td style="width:4%">
                          <p-tableCheckbox [value]="i+1"></p-tableCheckbox>
                          <input type="hidden" style="width: 110px;" formControlName="SlNo" pInputText
                            class="p-inputtext-sm ">
                        </td>

                        <td style="width:12%">
                         <input type="text" style="width: 80px;" formControlName="ProdCode" pInputText
                          class="p-inputtext-sm ">

                          <button (click)="onItemSelect(i)" pButton pRipple type="button" icon="pi pi-search"
                            class="p-button-rounded p-button-success"></button>
                        </td>

                        <td style="width:8%;"><input style="width:90px" type="text" formControlName="ColoursName"
                            pInputText class="p-inputtext-sm" />
                          <input style="width:90px" type="hidden" formControlName="ColorID" pInputText
                            class="p-inputtext-sm" />

                        </td>
                        <td style="width:8%;"><input style="width:90px" type="text" formControlName="Size"
                          pInputText class="p-inputtext-sm" />
                        <input style="width:90px" type="hidden" formControlName="SizeID" pInputText
                          class="p-inputtext-sm" />

                      </td>
                        <td style="width:6%">
                          <p-image
                            [src]="ImgUrl+controls.get('ProdCode').value+'_'+controls.get('ColoursName').value+'.jpg?'+unique_key"
                            [alt]="controls.get('ProductImage').value" height="50" width="50"
                            [preview]="true"></p-image>
                        </td>
                        <td style="width:10%;">
                          <input type="text" style="width:80px" formControlName="Location" pInputText
                            class="p-inputtext-sm" />
                          <input style="width:90px" type="hidden" formControlName="LocationID" pInputText
                            class="p-inputtext-sm" />
                        </td>
                        <td style="width:7%;"><input type="text" style="width:50px" formControlName="HSNCode" pInputText
                            class="p-inputtext-sm" /></td>
                        <td style="width:10%;"><input type="text" style="width:80px" formControlName="MRP" pInputText
                            class="p-inputtext-sm" /></td>
                        <td style="width:8%;"><p-inputNumber mode="decimal" (onInput)="ChangeDiscount($event, i)"
                            styleClass="inputOnDataTable" formControlName="Discount" pInputText
                            class="p-inputtext-sm"></p-inputNumber></td>
                        <td style="width:7%;">
                          <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
                            styleClass="inputOnDataTable" formControlName="Qty" (onInput)="ChangeQty($event, i)">
                          </p-inputNumber>
                        </td>
                        <td style="width:8%;">
                          <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
                            styleClass="inputOnDataTable" formControlName="Rate" (onInput)="ChangeRate($event, i)">
                          </p-inputNumber>

                        </td>
                        <td style="width:8%;">
                          <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
                            styleClass="inputOnDataTable" formControlName="Amt">
                          </p-inputNumber>
                          <!-- <p-inputNumber mode="decimal" inputId="locale-indian"  style="width:80px" locale="en-IN" [minFractionDigits]="2"
                            formControlName="Amt">
                          </p-inputNumber> -->
                        </td>

                      </tr>

                    </ng-template>
                  </p-table>
                </div>

                <div class="d-flex justify-content-end flex-wrap gap-2 mt-2">

                  <button style="height: 30px ;" pButton pRipple [label]="'Delete'" icon="pi pi-trash"
                    class="p-button-danger mr-2" (click)="onDelete()"
                    [disabled]="usersDetails.controls.length === 1"></button>&nbsp;
                  <!-- <button style="height: 30px ;" pButton pRipple label="New" icon="pi pi-plus"
                    class="p-button-success mr-1" (click)="onAdd()"></button> -->

                </div>
                <p-toast [style]="{marginTop: '80px'}"></p-toast>
                <div>
                </div>
              </div>


              <div class="row">
                <div class="mb-1 mr-2 col-sm-5 position-relative justify-content-right">
                  <div class="card">
                    <div class="row">

                      <div class="mb-2 col-sm-10 position-relative">
                        <div class="input-group ">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="validationTooltipUsernamePrepend">Total No.:</span>
                          </div>
                          <input type="text" tabIndex="1" class="form-control" id="validationTooltipUsername"
                            formControlName="TotPcs" placeholder="" aria-describedby="validationTooltipUsernamePrepend"
                            [ngClass]="{'is-invalid': submit && form.TotPcs.errors}">

                          <div *ngIf="submit && form.TotPcs.errors" class="invalid-feedback">
                            <span *ngIf="form.TotPcs.errors.required">Please enter a unique and valid TotalNo.</span>
                          </div>
                        </div>
                      </div>
                      <div class="mb-1 col-sm-10 position-relative ">
                        <div class="input-group ">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="validationTooltipUsernamePrepend">Narration</span>
                          </div>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" type="text"
                            tabIndex="12" class="form-control" id="validationTooltipUsername"
                            formControlName="Narr" placeholder=""
                            aria-describedby="validationTooltipUsernamePrepend"
                            [ngClass]="{'is-invalid': submit && form.Narr.errors}"></textarea>

                          <div *ngIf="submit && form.Narr.errors" class="invalid-feedback">
                            <span *ngIf="form.Narr.errors.required">Please enter a unique and valid
                              Narration.</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="d-flex flex-wrap gap-2 mt-2 justify-content-end">

                  <button pButton pRipple type="button" (click)="Close()" label="Close"
                    class="p-button-raised p-button-danger"></button>
                  <button pButton pRipple type="button" *ngIf="app_name==='work'" label="Save Draft"
                    class="p-button-raised p-button-warning"></button>
                  <button pButton pRipple type="submit" label="Save Invoice"
                    class="p-button-raised p-button-success"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
  <!-- end row -->
</div>
