<div class="container-fluid">
    <app-page-title title="PRICE LIST" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="row">
                    <div class="mb-3 col-sm-12 position-relative">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5 position-relative">
                                    <div class="search-box me-2 mb-2 d-inline-block">

                                        <span [style]="{'display': 'inline-flex', 'height':'35px'}"class="p-input-icon-left">
                                            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger mr-2" (click)="deleteSelectedProducts()" [disabled]="!selectedItems || !selectedItems.length"></button>&nbsp;
                                            <input class="form-control" pInputText type="text" [(ngModel)]="term"
                                            (ngModelChange)='searchChanged.next($event)'
                                                placeholder="Search..." />
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-3 mt-4 position-relative">
                                    <b>PACKET RATES</b>
                                </div>



                                <div class="col-sm-4 position-relative">
                                    <div class="d-flex justify-content-between bd-highlight">
                                        <div class="p-2 bd-highlight">

                                        </div>

                                        <div class="p-2 mt-0 mb-2 bd-highlight"
                                            [style]="{'display': 'inline-flex','height':'50px'}">
                                            <button pButton pRipple label="New" icon="pi pi-plus"
                                                class="p-button-success mr-2" (click)="openNew()"></button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <p-table [scrollable]="true" scrollHeight="400px" scrollDirection="both"
                                    styleClass="table-panel" #dt [value]="items" [rows]="10" [paginator]="false"
                                        [globalFilterFields]="['name','country.name','representative.name','status']"
                                        responsiveLayout="scroll" [(selection)]="selectedItems" [rowHover]="true" dataKey="SlNo"
                                        currentPageReportTemplate="Showinng {first} to {last} of {totalRecords} entries"
                                        [showCurrentPageReport]="true">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 5%">
                                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                                </th>
                                                <th style="width:15%" pSortableColumn="Sr.No">Sr.No.<p-sortIcon field="Sr.No"></p-sortIcon>
                                                </th>
                                                <th style="width:20%" pSortableColumn="ListNo">List No<p-sortIcon field="ListNo"></p-sortIcon>
                                                </th>
                                                <th style="width:20%" pSortableColumn="PartyID">Party Name<p-sortIcon field="PartyID"></p-sortIcon>
                                                </th>
                                                <th style="width:20%" pSortableColumn="BaseUnit">Effective Date<p-sortIcon field="BaseUnit">
                                                    </p-sortIcon>
                                                </th>
                                              
                                                <th style="width:20%" >Action</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-product let-i="rowIndex">
                                            <tr>
                                                <td style="width: 5%;">
                                                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                                </td>
                                                
                                                <td style="width: 15%">{{i+1}}</td>
                                                <td style="width: 20%">{{product.PListNo}}</td>
                                               
                                                <td style="width: 20%">{{product.PartyID}}</td>
                                                <td style="width: 20%">{{product.EffectFrom}}- {{product.EffectTo}}</td>
                                             
            
            
                                               
                                                <td style="width: 20%;">
                                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                                        (click)="editProduct(product)"></button>&nbsp;
                                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                                        (click)="deleteProduct(product)"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="footer">
                                            <div class="d-flex justify-content-between align-items-center  custom-footer">
                                                <div class="bd-highlight">
                                                    Showinng {{pageSize*(page-1)}} to {{(pageSize*page)>totalRecords?totalRecords:pageSize*page}} of {{totalRecords}} entries
                                                </div>
                                               
                                                <div class="bd-highlight">
                            
                                                    <p-paginator styleClass="custom-paginator" [rows]="pageSize" [totalRecords]="totalRecords"
                                                    (onPageChange)="handlePagination($event)"></p-paginator>
                                                </div>
                                              </div>
                                        </ng-template>
                                    </p-table>
                                </div>
                              


                                <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

                            </div>
                        </div>
                    </div>
                </div>

              